In [6]:
import os
import requests
import numpy as np
import pandas as pd
import json
import csv
import psycopg2 
from io import StringIO
from datetime import datetime, timedelta
import requests

from sqlalchemy import create_engine, text
import pandera as pa
from pandera.errors import SchemaError
pd.set_option('display.max_rows', 500)
pd.options.display.max_columns = None

import write_to_db
import importlib
importlib.reload(write_to_db)

In [2]:
def get_engine():
    # load_dotenv(dotenv_path="./config/dev.env")
    DATABASE_URI = os.getenv("DATABASE_URI")
    engine = create_engine(DATABASE_URI)
    return engine


def query_bbdt_db(query):
    engine = get_engine()
    connection = engine.connect()
    df = pd.read_sql(text(query), connection)  # sql alchemy
    connection.close()  # not sure if I need this
    engine.dispose()  # not sure if I need this
    df = df.loc[:, ~df.columns.duplicated()].copy()
    return df


def query_record_db(query):
    engine = get_engine()
    connection = engine.connect()
    connection.execute(text(query))

In [3]:
def convert_date_iso(dt):
   return dt.strftime('%Y-%m-%dT%H:%M:%S.%f%z')

In [4]:
query = f"select * from users ORDER BY update_datetime DESC LIMIT 1"
return_df = query_bbdt_db(query)
return_df

,username,create_datetime,update_datetime,metric,height,weight,gender,birth_date_datetime,bodyfat_calc,bodyfat_override_bool,bodyfat_override,bodyfat,lean_body_mass_calc,lean_body_mass_calc_category_id,activity_level_id,baseline_calorie_calc,baseline_calorie_override_bool,baseline_calorie_override,baseline_calorie,goal_id,goal_date_datetime,id,macro_adjustment_id
0,nikeshakya51@gmail.com,2023-12-28 14:39:51.781706,2023-12-28 14:40:02.337350,True,161,60.0,1,1999-12-27 18:15:00,12.0,False,12.0,12.0,116,100,2,1735,False,1735,1735,2,None,541,None

In [16]:
query = f"SELECT * FROM pg_catalog.pg_tables where schemaname = 'public';"
return_df = query_bbdt_db(query)
return_df

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,test,postgres,None,False,False,False,False
1,public,sr_legacy_nutrients,postgres,None,True,False,False,False
2,public,food_category_id,postgres,None,True,False,False,False
3,public,user_macros,postgres,None,True,False,False,False
4,public,diet_tracking,postgres,None,True,False,False,False
5,public,dim_meal_key,postgres,None,True,False,False,False
6,public,nutrient_key,postgres,None,False,False,False,False
7,public,legacy_foods_nutrients,postgres,None,True,False,False,False
8,public,dim_activity_level_key,postgres,None,True,False,False,False
9,public,measure_units,postgres,None,True,False,False,False
10,public,token_tracker,postgres,None,True,False,False,False
11,public,token_user,postgres,None,True,False,False,False
12,public,users,postgres,None,True,False,False,False
13,public,dim_goal_key,postgres,None,True,False,False,False
14,public,user_macro_override,postgres,None,True,False,False,False
15,public,foods_custom,postgres,None,True,False,False,False
16,public,foods_saved,postgres,None,True,False,False,False
17,public,user_login,postgres,None,True,False,False,False
18,public,contact_email,postgres,None,True,False,False,False
19,public,food_category,postgres,None,True,False,False,False
20,public,branded_nutrients,postgres,None,True,False,False,False
21,public,branded_foods,postgres,None,True,False,False,False
22,public,branded_foods_nutrients,postgres,None,True,False,False,False
23,public,movies,postgres,None,True,False,False,False
24,public,dim_premium_skus,postgres,None,True,False,False,False
25,public,subscription_status,postgres,None,True,False,False,False
26,public,subscription_app_store_notification,postgres,None,False,False,False,False
27,public,foods_ios_prepped,postgres,None,True,False,False,False
28,public,foods_ios,postgres,None,True,False,False,False