In [1]:
import os
import requests
import pandas as pd
import json
import csv
import psycopg2 
from io import StringIO

from sqlalchemy import create_engine, text
pd.set_option('display.max_rows', 500)
pd.options.display.max_columns = None

import write_to_db
import importlib
importlib.reload(write_to_db)

In [2]:
conn=psycopg2.connect(
  database="postgres",
  user="postgres",
  host="bbdt_db",
  password="postgres"
)

In [3]:
cur = conn.cursor()

In [4]:
cur.execute("select * from test")
query_df = pd.DataFrame(cur.fetchall())
conn.commit()
cur.close()
print(query_df.shape)
query_df.head(1)

UndefinedTable: relation "test" does not exist
LINE 1: select * from test
                      ^

In [6]:
write_to_db.query_bbdt_db("select * from test")

ObjectNotExecutableError: Not an executable object: 'select * from test'

In [7]:
print(os.getenv("DATABASE_URI"))
DATABASE_URI = os.getenv("DATABASE_URI")

engine = write_to_db.create_engine(DATABASE_URI)
connection = engine.connect()
#engine.table_names()

postgresql://postgres:postgres@bbdt_db/postgres

In [9]:
nutrient_key_df = pd.read_csv("./data/usda/csv/supporting/nutrient.csv")
nutrient_key_df['nutrient_nbr'] = nutrient_key_df['nutrient_nbr'].fillna(0).astype('int')
nutrient_key_df['rank'] = nutrient_key_df['rank'].fillna(0).astype('int')
print(nutrient_key_df.shape)
#nutrient_key_df.to_sql('nutrient_key', engine, method=write_to_db.psql_insert_copy, index=False)   
nutrient_key_df.head(5)

(473, 5)

     id                               name unit_name  nutrient_nbr  rank
0  2047   Energy (Atwater General Factors)      KCAL           957   280
1  2048  Energy (Atwater Specific Factors)      KCAL           958   290
2  1001                             Solids         G           201   200
3  1002                           Nitrogen         G           202   500
4  1003                            Protein         G           203   600

In [10]:
new_nutrient_cols_dict = {}
for c in nutrient_key_df['name']:
    new_name = c.replace(", ", "_").replace("(", "").replace(")", "").replace(" ", "_").replace("-", "_").lower()
    new_nutrient_cols_dict[c] = new_name
    #print(c, '\n',new_name, '\n')

In [11]:
nutrient_rename_dict = {'Protein': 'protein', 'Carbohydrate, by difference': 'carbs', 'Sodium, Na': 'sodium', 'Total lipid (fat)': 'fat', 'Energy': 'calories',
                        'Sugars, Total': 'sugar', 'Fatty acids, total saturated': 'saturated_fat', 'Fatty acids, total trans': 'trans_fat', 'Cholesterol': 'cholesterol',
                        'Fiber, total dietary': 'fiber', 'Calcium, Ca': 'calcium', 'Iron, Fe': 'iron', 'Vitamin C, total ascorbic acid': 'vitamin_c', 'Vitamin A, IU': 'vitamin_a',
                        'Potassium, K': 'potassium', 'Vitamin D (D2 + D3), International Units': 'vitamin_d', 'Sugars, added': 'sugars_added', 'Fatty acids, total monounsaturated': 'monosaturated_fat',
                        'Fatty acids, total polyunsaturated': 'polysaturated_fat', 'Niacin': 'niacin', 'Thiamin': 'thiamin', 'Riboflavin': 'riboflavin', 'Vitamin B-6': 'vitamin_b_6',
                        'Phosphorus, P': 'phosphorus', 'Magnesium, Mg': 'Magnesium', 'Vitamin B-12': 'vitamin_b_12', 'Zinc, Zn': 'zinc', 'Folate, total': 'folate', 'Folic acid': 'folic_acid',
                        'Pantothenic acid': 'pantothenic_acid', 'Manganese, Mn': 'manganese', 'Copper, Cu': 'copper', 'Total sugar alcohols': 'sugar_alcohol', 'Fiber, soluble': 'fiber_soluble',
                        'Fiber, insoluble': 'fiber_soluble', 'Selenium, Se': 'selenium', 'Vitamin K (phylloquinone)': 'vitamin_k', 'Iodine, I': 'iodine', 'Lactose': 'lactose'}

In [13]:
food_category_df =pd.read_csv("./data/usda/csv/supporting/food_category.csv")
food_category_df.rename({'description': 'category_description'}, inplace=True, axis=1)

table_name = "food_category"
#food_category_df.to_sql(table_name, engine, method=write_to_db.psql_insert_copy, if_exists='replace', index=True)
   
#write_to_db.set_primiary_key(connection, table_name, 'id')
#write_to_db.set_primiary_key(connection, table_name, create_index=True, primary_key_col=None, drop_col='index')

print(food_category_df.shape)
food_category_df.head(1)

(28, 3)

   id  code    category_description
0   1   100  Dairy and Egg Products

In [15]:
measure_unit_df = pd.read_csv("./data/usda/csv/supporting/measure_unit.csv")
measure_unit_df['id'] = measure_unit_df['id'].fillna(0).astype('int')
measure_unit_df.rename({'name': 'measure_name'}, inplace=True, axis=1)
#measure_unit_df.to_sql('measure_units', engine, method= write_to_db.psql_insert_copy)
#write_to_db.set_primiary_key(connection, 'measure_units', 'id')
print(measure_unit_df.shape)
measure_unit_df.head(1)

(122, 2)

     id measure_name
0  1000          cup

# Branded

In [17]:
csv_df = pd.read_csv("./data/usda/csv/branded/food.csv")
csv_df = csv_df[csv_df['data_type'] == 'branded_food']
csv_df["fdc_id"] = csv_df["fdc_id"].fillna(0).astype('int')
print(csv_df.shape)
csv_df.head(1)

(1702235, 5)

,fdc_id,data_type,description,food_category_id,publication_date
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13

In [18]:

branded_df = pd.read_csv("./data/usda/csv/branded/branded_food.csv")
branded_df['fdc_id'] = branded_df['fdc_id'].fillna(0).astype('int')
#print(branded_df.shape)

branded_df = branded_df.merge(csv_df, on='fdc_id') # this addes in description and pub date if needed
#branded_df.to_sql('branded_foods', engine, method=write_to_db.psql_insert_copy)

#write_to_db.set_primiary_key(connection, 'branded_foods', 'fdc_id')
branded_df[branded_df["fdc_id"] == 1105904]

/tmp/ipykernel_937/1567327224.py:1: DtypeWarning: Columns (2,3,4,6,9,12,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  branded_df = pd.read_csv("./data/usda/csv/branded/branded_food.csv")

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description,data_type,description,food_category_id,publication_date
0,1105904,Richardson Oilseed Products (US) Limited,NaN,NaN,27000612323,Vegetable Oil,NaN,15.0,ml,NaN,Oils Edible,GDSN,NaN,2020-10-02,2020-11-13,United States,NaN,NaN,NaN,NaN,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13

In [19]:
nutrient_csv_df = pd.read_csv("./data/usda/csv/branded/food_nutrient.csv")
nutrient_csv_df['fdc_id'] = nutrient_csv_df['fdc_id'].fillna(0).astype('int')
nutrient_csv_df['nutrient_id'] = nutrient_csv_df['nutrient_id'].fillna(0).astype('int')
print(nutrient_csv_df.shape)
nutrient_csv_df.head(1)

(21453550, 11)

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13706913,1105904,1003,0.0,NaN,71.0,NaN,NaN,NaN,NaN,NaN

In [20]:
def generate_branded_food_nutrients(supporting_df, nutrient_csv_df):
    df = nutrient_csv_df.merge(supporting_df, how='left', left_on="nutrient_id", right_on='id')
    df.drop(['id_x', 'id_y'], axis=1, inplace=True)
    return df

In [21]:
branded_foods_nutrient_df =  generate_branded_food_nutrients(nutrient_key_df, nutrient_csv_df)
branded_foods_nutrient_df.head(1)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,name,unit_name,nutrient_nbr,rank
0,1105904,1003,0.0,NaN,71.0,NaN,NaN,NaN,NaN,NaN,Protein,G,203,600

In [22]:
new_table_name = 'branded_nutrients'
#branded_foods_nutrient_df.to_sql(new_table_name, engine, method=write_to_db.psql_insert_copy, index=True)
print(branded_foods_nutrient_df.shape)
branded_foods_nutrient_df.head(1)

(21453550, 14)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,name,unit_name,nutrient_nbr,rank
0,1105904,1003,0.0,NaN,71.0,NaN,NaN,NaN,NaN,NaN,Protein,G,203,600

In [23]:
table_name = "branded_nutrients"

# query = f"ALTER TABLE {table_name} ADD birth_date TIMESTAMP;"
query = f"ALTER TABLE {table_name} ALTER COLUMN goal_date TYPE TIMESTAMP with time zone USING to_timestamp(goal_date);"
query = f"SELECT * FROM {table_name}"
query = f"DESCRIBE TABLE {table_name}"
query = f"ALTER TABLE {table_name} DROP COLUMN index"
query = f"select * from {table_name} where fdc_id = '1105904'"
#query = f"ALTER TABLE {table_name} ADD PRIMARY KEY (id)" #https://gist.github.com/scaryguy/6269293
fdc_id = 1105904
#fdc_id = 2106204
fdc_id = 2436182
query = f"select * from (select * from branded_foods where fdc_id = '{fdc_id}') a join (select * from branded_nutrients where fdc_id = '{fdc_id}') b on a.fdc_id = b.fdc_id where a.fdc_id = 1105904"
#query = f"select serving_size_unit, count(fdc_id) as counts from branded_foods group by serving_size_unit"
nutrient_rename_dict = {'Protein': 'protein', 'Carbohydrate, by difference': 'carbs', 'Sodium, Na': 'sodium', 'Total lipid (fat)': 'fat', 'Energy': 'calories',
                        'Sugars, Total': 'sugar', 'Fatty acids, total saturated': 'saturated_fat', 'Fatty acids, total trans': 'trans_fat', 'Cholesterol': 'cholesterol',
                        'Fiber, total dietary': 'fiber', 'Calcium, Ca': 'calcium', 'Iron, Fe': 'iron', 'Vitamin C, total ascorbic acid': 'vitamin_c', 'Vitamin A, IU': 'vitamin_a',
                        'Potassium, K': 'potassium', 'Vitamin D (D2 + D3), International Units': 'vitamin_d', 'Sugars, added': 'sugars_added', 'Fatty acids, total monounsaturated': 'monosaturated_fat',
                        'Fatty acids, total polyunsaturated': 'polysaturated_fat', 'Niacin': 'niacin', 'Thiamin': 'thiamin', 'Riboflavin': 'riboflavin', 'Vitamin B-6': 'vitamin_b_6',
                        'Phosphorus, P': 'phosphorus', 'Magnesium, Mg': 'Magnesium', 'Vitamin B-12': 'vitamin_b_12', 'Zinc, Zn': 'zinc', 'Folate, total': 'folate', 'Folic acid': 'folic_acid',
                        'Pantothenic acid': 'pantothenic_acid', 'Manganese, Mn': 'manganese', 'Copper, Cu': 'copper', 'Total sugar alcohols': 'sugar_alcohol', 'Fiber, soluble': 'fiber_soluble',
                        'Fiber, insoluble': 'fiber_soluble', 'Selenium, Se': 'selenium', 'Vitamin K (phylloquinone)': 'vitamin_k', 'Iodine, I': 'iodine', 'Lactose': 'lactose'}

query = f"select * from branded_nutrients where name in {tuple(nutrient_rename_dict.keys())}"
#query = f"select * from branded_foods"
#query = f"select * from branded_foods where fdc_id = '{fdc_id}'"
print(query)
df = pd.read_sql(text(query), connection)  # sql alchemy

select * from branded_nutrients where name in ('Protein', 'Carbohydrate, by difference', 'Sodium, Na', 'Total lipid (fat)', 'Energy', 'Sugars, Total', 'Fatty acids, total saturated', 'Fatty acids, total trans', 'Cholesterol', 'Fiber, total dietary', 'Calcium, Ca', 'Iron, Fe', 'Vitamin C, total ascorbic acid', 'Vitamin A, IU', 'Potassium, K', 'Vitamin D (D2 + D3), International Units', 'Sugars, added', 'Fatty acids, total monounsaturated', 'Fatty acids, total polyunsaturated', 'Niacin', 'Thiamin', 'Riboflavin', 'Vitamin B-6', 'Phosphorus, P', 'Magnesium, Mg', 'Vitamin B-12', 'Zinc, Zn', 'Folate, total', 'Folic acid', 'Pantothenic acid', 'Manganese, Mn', 'Copper, Cu', 'Total sugar alcohols', 'Fiber, soluble', 'Fiber, insoluble', 'Selenium, Se', 'Vitamin K (phylloquinone)', 'Iodine, I', 'Lactose')

In [24]:
df.replace({"name": nutrient_rename_dict}, inplace=True)

In [25]:
df['unit_name'].value_counts()

G       9545445
MG      7434504
KCAL    1560563
IU      1229764
UG       140636
kJ           29
Name: unit_name, dtype: int64

In [26]:
pivot_df = pd.pivot_table(df, values = 'amount', index=['fdc_id'], columns = 'name').reset_index()
print(pivot_df.shape)
pivot_df.head(2)

(1590666, 38)

name,fdc_id,Magnesium,calcium,calories,carbs,cholesterol,copper,fat,fiber,fiber_soluble,folate,folic_acid,iodine,iron,lactose,manganese,monosaturated_fat,niacin,pantothenic_acid,phosphorus,polysaturated_fat,potassium,protein,riboflavin,saturated_fat,selenium,sodium,sugar_alcohol,sugars_added,thiamin,trans_fat,vitamin_a,vitamin_b_12,vitamin_b_6,vitamin_c,vitamin_d,vitamin_k,zinc
0,344604,NaN,13.0,24.0,4.07,0.0,NaN,0.41,0.8,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,179.0,0.81,NaN,0.0,NaN,203.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,344605,NaN,16.0,24.0,4.07,0.0,NaN,0.41,0.8,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,179.0,0.81,NaN,0.0,NaN,203.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [27]:
branded_foods_cols = ['fdc_id', 'brand_owner', 'brand_name', 'subbrand_name', 'ingredients', 'serving_size', 'serving_size_unit',
                     'household_serving_fulltext', 'branded_food_category', 'data_type', 'description', 'short_description']
branded_df[branded_foods_cols].head(2)

,fdc_id,brand_owner,brand_name,subbrand_name,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_type,description,short_description
0,1105904,Richardson Oilseed Products (US) Limited,NaN,NaN,Vegetable Oil,15.0,ml,NaN,Oils Edible,branded_food,WESSON Vegetable Oil 1 GAL,NaN
1,1105905,CAMPBELL SOUP COMPANY,NaN,NaN,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",240.0,ml,NaN,Herbs/Spices/Extracts,branded_food,SWANSON BROTH BEEF,NaN

In [28]:
branded_df = branded_df[branded_foods_cols].merge(pivot_df, on = 'fdc_id')

In [29]:
def adjust_macro_based_on_serving(row, macro):
    try:
        adjust_macro = float(row['serving_size'])/100 * float(row[macro])
        return adjust_macro
    except Exception as e:
        #print(e)
        return 0

In [30]:
adjust_branded_df = branded_df.copy()
for key, value in nutrient_rename_dict.items():
    adjust_branded_df[value] = adjust_branded_df.apply(adjust_macro_based_on_serving, macro=value, axis=1)

In [31]:
decimals = 2    
for key, value in nutrient_rename_dict.items():
    adjust_branded_df[value] = adjust_branded_df[value].apply(lambda x: round(x, decimals))

In [32]:
print(os.getenv("DATABASE_URI"))
DATABASE_URI = os.getenv("DATABASE_URI")

engine = write_to_db.create_engine(DATABASE_URI)
connection = engine.connect()
adjust_branded_df.to_sql('branded_foods_nutrients', engine, method=write_to_db.psql_insert_copy)

postgresql://postgres:postgres@bbdt_db/postgres

In [33]:
print(os.getenv("DATABASE_URI"))
DATABASE_URI = os.getenv("DATABASE_URI")

engine = write_to_db.create_engine(DATABASE_URI)
connection = engine.connect()

table_name = 'branded_foods_nutrients'

query = f"ALTER TABLE {table_name} DROP COLUMN index;"
connection.execute(text(query))

query = f"ALTER TABLE {table_name} ADD COLUMN index SERIAL PRIMARY KEY;"
connection.execute(text(query))

postgresql://postgres:postgres@bbdt_db/postgres


# Legacy

In [34]:
def generate_legacy_food_list():
    csv_df = pd.read_csv("./data/usda/csv/sr_legacy/food.csv")
    csv_df['fdc_id'] = csv_df['fdc_id'].fillna(0).astype('int')
    csv_df = csv_df[csv_df['data_type'] == 'sr_legacy_food']
    csv_df = csv_df.merge(food_category_df, left_on = 'food_category_id', right_on = 'id', how='left')
    print(csv_df.shape)
    
    portion_df = pd.read_csv("./data/usda/csv/sr_legacy/food_portion.csv")
    portion_df['fdc_id'] = portion_df['fdc_id'].fillna(0).astype('int')
    portion_df['measure_unit_id'] = portion_df['measure_unit_id'].fillna(0).astype('int')
    portion_df = portion_df.merge(measure_unit_df, left_on='measure_unit_id', right_on='id')
    print(portion_df.shape)
    print(portion_df.fdc_id.nunique())
    df = csv_df.merge(portion_df, on='fdc_id', how='left')
    
    legacy_df = pd.read_csv("./data/usda/csv/sr_legacy/sr_legacy_food.csv")
    legacy_df['fdc_id'] = legacy_df['fdc_id'].fillna(0).astype('int')
    print(legacy_df.shape)
    legacy_df = legacy_df.merge(df, on='fdc_id') 
    return legacy_df

In [35]:
df = generate_legacy_food_list()
df.head(2)

(7793, 8)
(14449, 13)
7533
(7793, 2)

,fdc_id,NDB_number,data_type,description,food_category_id,publication_date,id,code,category_description,id_x,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired,id_y,measure_name
0,167512,18634,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",18,2019-04-01,18,1800,Baked Products,81549.0,1.0,1.0,9999.0,NaN,serving,34.0,NaN,NaN,NaN,9999.0,undetermined
1,167513,18635,sr_legacy_food,"Pillsbury, Cinnamon Rolls with Icing, refriger...",18,2019-04-01,18,1800,Baked Products,81550.0,1.0,1.0,9999.0,NaN,serving 1 roll with icing,44.0,1.0,NaN,NaN,9999.0,undetermined

In [36]:
nutrient_csv_df = pd.read_csv("./data/usda/csv/sr_legacy/food_nutrient.csv")
nutrient_csv_df['fdc_id'] = nutrient_csv_df['fdc_id'].fillna(0).astype('int')
nutrient_csv_df['nutrient_id'] = nutrient_csv_df['nutrient_id'].fillna(0).astype('int')
print(nutrient_csv_df.shape)
nutrient_csv_df.head(1)

(644125, 11)

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,1283674,167512,1003,5.88,1,46.0,NaN,NaN,NaN,NaN,NaN

In [37]:
def generate_legacy_food_nutrients(supporting_df, nutrient_csv_df):
    df = nutrient_csv_df.merge(supporting_df, how='left', left_on="nutrient_id", right_on='id')
    df.drop(['id_x', 'id_y'], axis=1, inplace=True)
    return df

In [38]:
legacy_foods_nutrient_df =  generate_legacy_food_nutrients(nutrient_key_df, nutrient_csv_df)
legacy_foods_nutrient_df['id'] = legacy_foods_nutrient_df.index + 1 
#legacy_foods_nutrient_df.to_sql('sr_legacy_nutrients', engine, method=write_to_db.psql_insert_copy)

print(legacy_foods_nutrient_df.shape)
legacy_foods_nutrient_df.head(1)

(644125, 15)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,name,unit_name,nutrient_nbr,rank,id
0,167512,1003,5.88,1,46.0,NaN,NaN,NaN,NaN,NaN,Protein,G,203,600,1

In [39]:
table_name = "sr_legacy_nutrients"

# query = f"ALTER TABLE {table_name} ADD birth_date TIMESTAMP;"
query = f"ALTER TABLE {table_name} ALTER COLUMN goal_date TYPE TIMESTAMP with time zone USING to_timestamp(goal_date);"
query = f"SELECT * FROM {table_name}"
query = f"DESCRIBE TABLE {table_name}"
query = f"ALTER TABLE {table_name} DROP COLUMN index"
query = f"select * from {table_name} where fdc_id = '1105904'"
#query = f"ALTER TABLE {table_name} ADD PRIMARY KEY (id)" #https://gist.github.com/scaryguy/6269293
fdc_id = 1105904
#fdc_id = 2106204
fdc_id = 2436182
query = f"select * from (select * from branded_foods where fdc_id = '{fdc_id}') a join (select * from branded_nutrients where fdc_id = '{fdc_id}') b on a.fdc_id = b.fdc_id where a.fdc_id = 1105904"
#query = f"select serving_size_unit, count(fdc_id) as counts from branded_foods group by serving_size_unit"
nutrient_rename_dict = {'Protein': 'protein', 'Carbohydrate, by difference': 'carbs', 'Sodium, Na': 'sodium', 'Total lipid (fat)': 'fat', 'Energy': 'calories',
                        'Sugars, Total': 'sugar', 'Fatty acids, total saturated': 'saturated_fat', 'Fatty acids, total trans': 'trans_fat', 'Cholesterol': 'cholesterol',
                        'Fiber, total dietary': 'fiber', 'Calcium, Ca': 'calcium', 'Iron, Fe': 'iron', 'Vitamin C, total ascorbic acid': 'vitamin_c', 'Vitamin A, IU': 'vitamin_a',
                        'Potassium, K': 'potassium', 'Vitamin D (D2 + D3), International Units': 'vitamin_d', 'Sugars, added': 'sugars_added', 'Fatty acids, total monounsaturated': 'monosaturated_fat',
                        'Fatty acids, total polyunsaturated': 'polysaturated_fat', 'Niacin': 'niacin', 'Thiamin': 'thiamin', 'Riboflavin': 'riboflavin', 'Vitamin B-6': 'vitamin_b_6',
                        'Phosphorus, P': 'phosphorus', 'Magnesium, Mg': 'Magnesium', 'Vitamin B-12': 'vitamin_b_12', 'Zinc, Zn': 'zinc', 'Folate, total': 'folate', 'Folic acid': 'folic_acid',
                        'Pantothenic acid': 'pantothenic_acid', 'Manganese, Mn': 'manganese', 'Copper, Cu': 'copper', 'Total sugar alcohols': 'sugar_alcohol', 'Fiber, soluble': 'fiber_soluble',
                        'Fiber, insoluble': 'fiber_soluble', 'Selenium, Se': 'selenium', 'Vitamin K (phylloquinone)': 'vitamin_k', 'Iodine, I': 'iodine', 'Lactose': 'lactose'}

query = f"select * from {table_name} where name in {tuple(nutrient_rename_dict.keys())}"
#query = f"select * from {table_name}"
#query = f"select * from branded_foods where fdc_id = '{fdc_id}'"
print(query)
df = pd.read_sql(text(query), connection)  # sql alchemy

select * from sr_legacy_nutrients where name in ('Protein', 'Carbohydrate, by difference', 'Sodium, Na', 'Total lipid (fat)', 'Energy', 'Sugars, Total', 'Fatty acids, total saturated', 'Fatty acids, total trans', 'Cholesterol', 'Fiber, total dietary', 'Calcium, Ca', 'Iron, Fe', 'Vitamin C, total ascorbic acid', 'Vitamin A, IU', 'Potassium, K', 'Vitamin D (D2 + D3), International Units', 'Sugars, added', 'Fatty acids, total monounsaturated', 'Fatty acids, total polyunsaturated', 'Niacin', 'Thiamin', 'Riboflavin', 'Vitamin B-6', 'Phosphorus, P', 'Magnesium, Mg', 'Vitamin B-12', 'Zinc, Zn', 'Folate, total', 'Folic acid', 'Pantothenic acid', 'Manganese, Mn', 'Copper, Cu', 'Total sugar alcohols', 'Fiber, soluble', 'Fiber, insoluble', 'Selenium, Se', 'Vitamin K (phylloquinone)', 'Iodine, I', 'Lactose')

In [40]:
df.replace({"name": nutrient_rename_dict}, inplace=True)

In [41]:
pivot_df = pd.pivot_table(df, values = 'amount', index=['fdc_id'], columns = 'name').reset_index()
print(pivot_df.shape)
pivot_df.head(2)

(7793, 34)

name,fdc_id,Magnesium,calcium,calories,carbs,cholesterol,copper,fat,fiber,folate,folic_acid,iron,lactose,manganese,monosaturated_fat,niacin,pantothenic_acid,phosphorus,polysaturated_fat,potassium,protein,riboflavin,saturated_fat,selenium,sodium,thiamin,trans_fat,vitamin_a,vitamin_b_12,vitamin_b_6,vitamin_c,vitamin_d,vitamin_k,zinc
0,167512,NaN,NaN,796.5,41.18,0.0,NaN,13.24,1.2,NaN,NaN,2.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.88,NaN,2.941,NaN,1059.0,NaN,4.412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,167513,NaN,28.0,855.5,53.42,0.0,NaN,11.27,1.4,NaN,NaN,1.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.34,NaN,3.250,NaN,780.0,NaN,4.290,1.0,NaN,NaN,0.1,NaN,NaN,NaN

In [42]:
raw_sr_legacy_df = generate_legacy_food_list()
raw_sr_legacy_df.head(3)

(7793, 8)
(14449, 13)
7533
(7793, 2)

,fdc_id,NDB_number,data_type,description,food_category_id,publication_date,id,code,category_description,id_x,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired,id_y,measure_name
0,167512,18634,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",18,2019-04-01,18,1800,Baked Products,81549.0,1.0,1.0,9999.0,NaN,serving,34.0,NaN,NaN,NaN,9999.0,undetermined
1,167513,18635,sr_legacy_food,"Pillsbury, Cinnamon Rolls with Icing, refriger...",18,2019-04-01,18,1800,Baked Products,81550.0,1.0,1.0,9999.0,NaN,serving 1 roll with icing,44.0,1.0,NaN,NaN,9999.0,undetermined
2,167514,18637,sr_legacy_food,"Kraft Foods, Shake N Bake Original Recipe, Coa...",18,2019-04-01,18,1800,Baked Products,81551.0,1.0,1.0,9999.0,NaN,serving,28.0,NaN,NaN,NaN,9999.0,undetermined

In [43]:
legacy_foods_cols = ['fdc_id', 'data_type', 'description', 'food_category_id', 'category_description']
sr_legacy_df = raw_sr_legacy_df[legacy_foods_cols].merge(pivot_df, on = 'fdc_id')
sr_legacy_df.tail(1)

,fdc_id,data_type,description,food_category_id,category_description,Magnesium,calcium,calories,carbs,cholesterol,copper,fat,fiber,folate,folic_acid,iron,lactose,manganese,monosaturated_fat,niacin,pantothenic_acid,phosphorus,polysaturated_fat,potassium,protein,riboflavin,saturated_fat,selenium,sodium,thiamin,trans_fat,vitamin_a,vitamin_b_12,vitamin_b_6,vitamin_c,vitamin_d,vitamin_k,zinc
14708,175304,sr_legacy_food,"Game meat, goat, cooked, roasted",17,"Lamb, Veal, and Game Products",0.0,17.0,371.0,0.0,75.0,0.303,3.03,0.0,5.0,0.0,3.73,NaN,0.042,1.36,3.95,NaN,201.0,0.23,405.0,27.1,0.61,0.93,11.8,86.0,0.09,NaN,0.0,1.19,0.0,0.0,0.0,1.2,5.27

In [44]:
adjust_sr_legacy_df = sr_legacy_df.copy()
decimals = 2    
for key, value in nutrient_rename_dict.items():
    try:
        adjust_sr_legacy_df[value] = adjust_sr_legacy_df[value].apply(lambda x: round(x, decimals))
    except Exception as e:
        print(e)
        pass

'sugar'
'sugars_added'
'sugar_alcohol'
'fiber_soluble'
'fiber_soluble'
'iodine'

In [45]:
adjust_sr_legacy_df['serving_size'] = 100.0
adjust_sr_legacy_df['serving_size_unit'] = "g"
adjust_sr_legacy_df.to_sql('legacy_foods_nutrients', engine, method=write_to_db.psql_insert_copy)

In [46]:
## ENd