In [1]:
import os
import requests
import pandas as pd
import json
import csv
import psycopg2 
from io import StringIO

from sqlalchemy import create_engine
pd.set_option('display.max_rows', 500)
pd.options.display.max_columns = None

In [2]:
print(os.getenv("DATABASE_URI"))
DATABASE_URI = os.getenv("DATABASE_URI")

postgresql://postgres:postgres@bbdt_db/postgres

In [30]:
'''
conn = psycopg2.connect(DATABASE_URI)
cur = conn.cursor()
#cur.execute('INSERT INTO events (date_time, customer_id, location_id, location_name, object_detected, sku_detected, device, unix_ts) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)', (time_date, customer, loc, loc_name, sku, object_detect, from_device, ts))
table_name = "nutrient_key"
# query = f"ALTER TABLE {table_name} ADD birth_date TIMESTAMP;"
query = f"ALTER TABLE {table_name} ALTER COLUMN goal_date TYPE TIMESTAMP with time zone USING to_timestamp(goal_date);"
query = f"SELECT * FROM {table_name}"
query = f"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = '{table_name}'"
query = "SELECT * from branded_foods_nutrients" 
cur.execute(query)
query_df = pd.DataFrame(cur.fetchall())
conn.commit()
cur.close()
print(query_df.shape)
query_df.head(1)
'''

'\nconn = psycopg2.connect(DATABASE_URI)\ncur = conn.cursor()\n#cur.execute(\'INSERT INTO events (date_time, customer_id, location_id, location_name, object_detected, sku_detected, device, unix_ts) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)\', (time_date, customer, loc, loc_name, sku, object_detect, from_device, ts))\ntable_name = "nutrient_key"\n# query = f"ALTER TABLE {table_name} ADD birth_date TIMESTAMP;"\nquery = f"ALTER TABLE {table_name} ALTER COLUMN goal_date TYPE TIMESTAMP with time zone USING to_timestamp(goal_date);"\nquery = f"SELECT * FROM {table_name}"\nquery = f"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = \'{table_name}\'"\nquery = "SELECT * from branded_foods_nutrients" \ncur.execute(query)\nquery_df = pd.DataFrame(cur.fetchall())\nconn.commit()\ncur.close()\nprint(query_df.shape)\nquery_df.head(1)\n'

In [31]:
def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)
        
#branded_foods_nutrient_df.to_sql('branded_nutrients', engine, method=psql_insert_copy)
#set_primiary_key(connection, 'branded_nutrients', 'id')
def show_table_cols(connection, table_name):
    query = f"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_name = '{table_name}'"
    result = connection.execute(query)
    for r in result:
        print(r)

def set_primiary_key(connection, table_name, primary_key_col, drop_col='index'):
    query = f"ALTER TABLE {table_name} DROP COLUMN {drop_col}"
    try:
        connection.execute(query)
    except Exception as e:
        print(e)
    query = f"ALTER TABLE {table_name} ADD PRIMARY KEY ({primary_key_col})" 
    try:
        connection.execute(query)
    except Exception as e:
        print(e)
    show_table_cols(connection, table_name)

def set_date_datatype(connection, table_name, date_key_col):
    query = f"ALTER TABLE {table_name} ALTER COLUMN {date_key_col} TYPE TIMESTAMP with time zone USING to_timestamp({date_key_col};"
    try:
        connection.execute(query)
    except Exception as e:
        print(e)
    show_table_cols(connection, table_name)

In [32]:
engine = create_engine(DATABASE_URI)
connection = engine.connect()
engine.table_names()

/tmp/ipykernel_26562/1371484388.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['movies',
 'nutrient_key',
 'diet_tracking',
 'branded_foods',
 'meal_key',
 'branded_nutrients',
 'branded_foods_single_line_not_adjusted',
 'macro_guidance',
 'users',
 'diet',
 'food_category',
 'measure_units',
 'branded_foods_nutrients',
 'baseline_calorie_dim',
 'sr_legacy_nutrients',
 'activity_level_key',
 'premium_skus',
 'goal_key']

In [33]:
nutrient_key_df = pd.read_csv("./data/usda/csv/supporting/nutrient.csv")
nutrient_key_df['nutrient_nbr'] = nutrient_key_df['nutrient_nbr'].fillna(0).astype('int')
nutrient_key_df['rank'] = nutrient_key_df['rank'].fillna(0).astype('int')
print(nutrient_key_df.shape)
#nutrient_key_df.to_sql('nutrient_key', engine, method=psql_insert_copy)
nutrient_key_df.head(5)

(474, 5)

     id                               name unit_name  nutrient_nbr  rank
0  2047   Energy (Atwater General Factors)      KCAL           957   280
1  2048  Energy (Atwater Specific Factors)      KCAL           958   290
2  1001                             Solids         G           201   200
3  1002                           Nitrogen         G           202   500
4  1003                            Protein         G           203   600

In [34]:
new_nutrient_cols_dict = {}
for c in nutrient_key_df['name']:
    new_name = c.replace(", ", "_").replace("(", "").replace(")", "").replace(" ", "_").replace("-", "_").lower()
    new_nutrient_cols_dict[c] = new_name
    #print(c, '\n',new_name, '\n')

In [35]:
food_category_df =pd.read_csv("./data/usda/csv/supporting/food_category.csv")
food_category_df.rename({'description': 'category_description'}, inplace=True, axis=1)
#food_category_df.to_sql('food_category', engine, method=psql_insert_copy)
#set_primiary_key(connection, 'food_category', 'id')
print(food_category_df.shape)
food_category_df.head(1)

(28, 3)

   id  code    category_description
0   1   100  Dairy and Egg Products

In [36]:
measure_unit_df = pd.read_csv("./data/usda/csv/supporting/measure_unit.csv")
measure_unit_df['id'] = measure_unit_df['id'].fillna(0).astype('int')
measure_unit_df.rename({'name': 'measure_name'}, inplace=True, axis=1)
#measure_unit_df.to_sql('measure_units', engine, method=psql_insert_copy)
#set_primiary_key(connection, 'measure_units', 'id')
print(measure_unit_df.shape)
measure_unit_df.head(1)

(122, 2)

     id measure_name
0  1000          cup

# Legacy

In [53]:
def generate_legacy_food_list():
    csv_df = pd.read_csv("./data/usda/csv/sr_legacy/food.csv")
    csv_df['fdc_id'] = csv_df['fdc_id'].fillna(0).astype('int')
    csv_df = csv_df[csv_df['data_type'] == 'sr_legacy_food']
    csv_df = csv_df.merge(food_category_df, left_on = 'food_category_id', right_on = 'id', how='left')
    print(csv_df.shape)
    
    portion_df = pd.read_csv("./data/usda/csv/sr_legacy/food_portion.csv")
    portion_df['fdc_id'] = portion_df['fdc_id'].fillna(0).astype('int')
    portion_df['measure_unit_id'] = portion_df['measure_unit_id'].fillna(0).astype('int')
    portion_df = portion_df.merge(measure_unit_df, left_on='measure_unit_id', right_on='id')
    print(portion_df.shape)
    print(portion_df.fdc_id.nunique())
    df = csv_df.merge(portion_df, on='fdc_id', how='left')
    
    legacy_df = pd.read_csv("./data/usda/csv/sr_legacy/sr_legacy_food.csv")
    legacy_df['fdc_id'] = legacy_df['fdc_id'].fillna(0).astype('int')
    print(legacy_df.shape)
    legacy_df = legacy_df.merge(df, on='fdc_id') 
    return legacy_df

In [55]:
df = generate_legacy_food_list()
df.head(2)

(7793, 8)
(14449, 13)
7533
(7793, 2)

,fdc_id,NDB_number,data_type,description,food_category_id,publication_date,id,code,category_description,id_x,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired,id_y,measure_name
0,167512,18634,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",18,2019-04-01,18,1800,Baked Products,81549.0,1.0,1.0,9999.0,NaN,serving,34.0,NaN,NaN,NaN,9999.0,undetermined
1,167513,18635,sr_legacy_food,"Pillsbury, Cinnamon Rolls with Icing, refriger...",18,2019-04-01,18,1800,Baked Products,81550.0,1.0,1.0,9999.0,NaN,serving 1 roll with icing,44.0,1.0,NaN,NaN,9999.0,undetermined

In [56]:
nutrient_csv_df = pd.read_csv("./data/usda/csv/sr_legacy//food_nutrient.csv")
nutrient_csv_df['fdc_id'] = nutrient_csv_df['fdc_id'].fillna(0).astype('int')
nutrient_csv_df['nutrient_id'] = nutrient_csv_df['nutrient_id'].fillna(0).astype('int')
print(nutrient_csv_df.shape)
nutrient_csv_df.head(1)

(644125, 11)

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,1283674,167512,1003,5.88,1,46.0,NaN,NaN,NaN,NaN,NaN

In [57]:
def generate_legacy_food_nutrients(supporting_df, nutrient_csv_df):
    df = nutrient_csv_df.merge(supporting_df, how='left', left_on="nutrient_id", right_on='id')
    df.drop(['id_x', 'id_y'], axis=1, inplace=True)
    return df

In [58]:
legacy_foods_nutrient_df =  generate_legacy_food_nutrients(nutrient_key_df, nutrient_csv_df)
legacy_foods_nutrient_df['id'] = legacy_foods_nutrient_df.index + 1 
#legacy_foods_nutrient_df.to_sql('sr_legacy_nutrients', engine, method=psql_insert_copy)
#set_primiary_key(connection, 'sr_legacy_nutrients', 'id')
print(legacy_foods_nutrient_df.shape)
legacy_foods_nutrient_df.head(1)

(644125, 15)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,name,unit_name,nutrient_nbr,rank,id
0,167512,1003,5.88,1,46.0,NaN,NaN,NaN,NaN,NaN,Protein,G,203,600,1

In [59]:
table_name = "sr_legacy_nutrients"

# query = f"ALTER TABLE {table_name} ADD birth_date TIMESTAMP;"
query = f"ALTER TABLE {table_name} ALTER COLUMN goal_date TYPE TIMESTAMP with time zone USING to_timestamp(goal_date);"
query = f"SELECT * FROM {table_name}"
query = f"DESCRIBE TABLE {table_name}"
query = f"ALTER TABLE {table_name} DROP COLUMN index"
query = f"select * from {table_name} where fdc_id = '1105904'"
#query = f"ALTER TABLE {table_name} ADD PRIMARY KEY (id)" #https://gist.github.com/scaryguy/6269293
fdc_id = 1105904
#fdc_id = 2106204
fdc_id = 2436182
query = f"select * from (select * from branded_foods where fdc_id = '{fdc_id}') a join (select * from branded_nutrients where fdc_id = '{fdc_id}') b on a.fdc_id = b.fdc_id where a.fdc_id = 1105904"
#query = f"select serving_size_unit, count(fdc_id) as counts from branded_foods group by serving_size_unit"
nutrient_rename_dict = {'Protein': 'protein', 'Carbohydrate, by difference': 'carbs', 'Sodium, Na': 'sodium', 'Total lipid (fat)': 'fat', 'Energy': 'calories',
                        'Sugars, Total': 'sugar', 'Fatty acids, total saturated': 'saturated_fat', 'Fatty acids, total trans': 'trans_fat', 'Cholesterol': 'cholesterol',
                        'Fiber, total dietary': 'fiber', 'Calcium, Ca': 'calcium', 'Iron, Fe': 'iron', 'Vitamin C, total ascorbic acid': 'vitamin_c', 'Vitamin A, IU': 'vitamin_a',
                        'Potassium, K': 'potassium', 'Vitamin D (D2 + D3), International Units': 'vitamin_d', 'Sugars, added': 'sugars_added', 'Fatty acids, total monounsaturated': 'monosaturated_fat',
                        'Fatty acids, total polyunsaturated': 'polysaturated_fat', 'Niacin': 'niacin', 'Thiamin': 'thiamin', 'Riboflavin': 'riboflavin', 'Vitamin B-6': 'vitamin_b_6',
                        'Phosphorus, P': 'phosphorus', 'Magnesium, Mg': 'Magnesium', 'Vitamin B-12': 'vitamin_b_12', 'Zinc, Zn': 'zinc', 'Folate, total': 'folate', 'Folic acid': 'folic_acid',
                        'Pantothenic acid': 'pantothenic_acid', 'Manganese, Mn': 'manganese', 'Copper, Cu': 'copper', 'Total sugar alcohols': 'sugar_alcohol', 'Fiber, soluble': 'fiber_soluble',
                        'Fiber, insoluble': 'fiber_soluble', 'Selenium, Se': 'selenium', 'Vitamin K (phylloquinone)': 'vitamin_k', 'Iodine, I': 'iodine', 'Lactose': 'lactose'}

query = f"select * from {table_name} where name in {tuple(nutrient_rename_dict.keys())}"
query = f"select * from {table_name}"
#query = f"select * from branded_foods where fdc_id = '{fdc_id}'"
print(query)
df = pd.read_sql(query, connection)  # sql alchemy

select * from sr_legacy_nutrients

In [60]:
df.replace({"name": nutrient_rename_dict}, inplace=True)

In [61]:
pivot_df = pd.pivot_table(df, values = 'amount', index=['fdc_id'], columns = 'name').reset_index()
print(pivot_df.shape)
pivot_df.head(2)

(7793, 149)

name,fdc_id,Alanine,"Alcohol, ethyl",Arginine,Ash,Aspartic acid,Beta-sitosterol,Betaine,Caffeine,Campesterol,"Carotene, alpha","Carotene, beta","Choline, total","Cryptoxanthin, beta",Cystine,"Fatty acids, total trans-monoenoic","Fatty acids, total trans-polyenoic","Fluoride, F","Folate, DFE","Folate, food",Fructose,Galactose,Glucose,Glutamic acid,Glycine,Histidine,Hydroxyproline,Isoleucine,Leucine,Lutein + zeaxanthin,Lycopene,Lysine,MUFA 14:1,MUFA 15:1,MUFA 16:1,MUFA 16:1 c,MUFA 17:1,MUFA 18:1,MUFA 18:1 c,MUFA 18:1-11 t (18:1t n-7),MUFA 20:1,MUFA 22:1,MUFA 22:1 c,MUFA 24:1 c,Magnesium,Maltose,Methionine,PUFA 18:2,PUFA 18:2 CLAs,PUFA 18:2 i,"PUFA 18:2 n-6 c,c",PUFA 18:3,"PUFA 18:3 n-3 c,c,c (ALA)","PUFA 18:3 n-6 c,c,c",PUFA 18:3i,PUFA 18:4,"PUFA 20:2 n-6 c,c",PUFA 20:3,PUFA 20:3 n-3,PUFA 20:4,PUFA 20:4 n-6,PUFA 20:5 n-3 (EPA),PUFA 21:5,PUFA 22:4,PUFA 22:5 n-3 (DPA),PUFA 22:6 n-3 (DHA),PUFA 2:4 n-6,Phenylalanine,Phytosterols,Proline,Retinol,SFA 10:0,SFA 12:0,SFA 13:0,SFA 14:0,SFA 15:0,SFA 16:0,SFA 17:0,SFA 18:0,SFA 20:0,SFA 22:0,SFA 24:0,SFA 4:0,SFA 6:0,SFA 8:0,Serine,Starch,Stigmasterol,Sucrose,TFA 16:1 t,TFA 18:1 t,TFA 18:2 t not further defined,"TFA 18:2 t,t",TFA 22:1 t,Theobromine,Threonine,"Tocopherol, beta","Tocopherol, delta","Tocopherol, gamma","Tocotrienol, alpha","Tocotrienol, beta","Tocotrienol, delta","Tocotrienol, gamma",Tryptophan,Tyrosine,Valine,"Vitamin A, RAE","Vitamin B-12, added",Vitamin D (D2 + D3),Vitamin D2 (ergocalciferol),Vitamin D3 (cholecalciferol),Vitamin E (alpha-tocopherol),"Vitamin E, added",Vitamin K (Dihydrophylloquinone),Vitamin K (Menaquinone-4),Water,calcium,calories,carbs,cholesterol,copper,fat,fiber,folate,folic_acid,iron,lactose,manganese,monosaturated_fat,niacin,pantothenic_acid,phosphorus,polysaturated_fat,potassium,protein,riboflavin,saturated_fat,selenium,sodium,sugar,thiamin,trans_fat,vitamin_a,vitamin_b_12,vitamin_b_6,vitamin_c,vitamin_d,vitamin_k,zinc
0,167512,NaN,NaN,NaN,3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.50,NaN,796.5,41.18,0.0,NaN,13.24,1.2,NaN,NaN,2.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.88,NaN,2.941,NaN,1059.0,5.88,NaN,4.412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,167513,NaN,NaN,NaN,3.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.86,28.0,855.5,53.42,0.0,NaN,11.27,1.4,NaN,NaN,1.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.34,NaN,3.250,NaN,780.0,21.34,NaN,4.290,1.0,NaN,NaN,0.1,NaN,NaN,NaN

In [62]:
raw_sr_legacy_df = generate_legacy_food_list()
raw_sr_legacy_df.head(3)

(7793, 8)
(14449, 13)
7533
(7793, 2)

,fdc_id,NDB_number,data_type,description,food_category_id,publication_date,id,code,category_description,id_x,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired,id_y,measure_name
0,167512,18634,sr_legacy_food,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",18,2019-04-01,18,1800,Baked Products,81549.0,1.0,1.0,9999.0,NaN,serving,34.0,NaN,NaN,NaN,9999.0,undetermined
1,167513,18635,sr_legacy_food,"Pillsbury, Cinnamon Rolls with Icing, refriger...",18,2019-04-01,18,1800,Baked Products,81550.0,1.0,1.0,9999.0,NaN,serving 1 roll with icing,44.0,1.0,NaN,NaN,9999.0,undetermined
2,167514,18637,sr_legacy_food,"Kraft Foods, Shake N Bake Original Recipe, Coa...",18,2019-04-01,18,1800,Baked Products,81551.0,1.0,1.0,9999.0,NaN,serving,28.0,NaN,NaN,NaN,9999.0,undetermined

In [64]:
legacy_foods_cols = ['fdc_id', 'data_type', 'description', 'food_category_id', 'category_description']
sr_legacy_df = raw_sr_legacy_df[legacy_foods_cols].merge(pivot_df, on = 'fdc_id')
sr_legacy_df.tail(1)

,fdc_id,data_type,description,food_category_id,category_description,Alanine,"Alcohol, ethyl",Arginine,Ash,Aspartic acid,Beta-sitosterol,Betaine,Caffeine,Campesterol,"Carotene, alpha","Carotene, beta","Choline, total","Cryptoxanthin, beta",Cystine,"Fatty acids, total trans-monoenoic","Fatty acids, total trans-polyenoic","Fluoride, F","Folate, DFE","Folate, food",Fructose,Galactose,Glucose,Glutamic acid,Glycine,Histidine,Hydroxyproline,Isoleucine,Leucine,Lutein + zeaxanthin,Lycopene,Lysine,MUFA 14:1,MUFA 15:1,MUFA 16:1,MUFA 16:1 c,MUFA 17:1,MUFA 18:1,MUFA 18:1 c,MUFA 18:1-11 t (18:1t n-7),MUFA 20:1,MUFA 22:1,MUFA 22:1 c,MUFA 24:1 c,Magnesium,Maltose,Methionine,PUFA 18:2,PUFA 18:2 CLAs,PUFA 18:2 i,"PUFA 18:2 n-6 c,c",PUFA 18:3,"PUFA 18:3 n-3 c,c,c (ALA)","PUFA 18:3 n-6 c,c,c",PUFA 18:3i,PUFA 18:4,"PUFA 20:2 n-6 c,c",PUFA 20:3,PUFA 20:3 n-3,PUFA 20:4,PUFA 20:4 n-6,PUFA 20:5 n-3 (EPA),PUFA 21:5,PUFA 22:4,PUFA 22:5 n-3 (DPA),PUFA 22:6 n-3 (DHA),PUFA 2:4 n-6,Phenylalanine,Phytosterols,Proline,Retinol,SFA 10:0,SFA 12:0,SFA 13:0,SFA 14:0,SFA 15:0,SFA 16:0,SFA 17:0,SFA 18:0,SFA 20:0,SFA 22:0,SFA 24:0,SFA 4:0,SFA 6:0,SFA 8:0,Serine,Starch,Stigmasterol,Sucrose,TFA 16:1 t,TFA 18:1 t,TFA 18:2 t not further defined,"TFA 18:2 t,t",TFA 22:1 t,Theobromine,Threonine,"Tocopherol, beta","Tocopherol, delta","Tocopherol, gamma","Tocotrienol, alpha","Tocotrienol, beta","Tocotrienol, delta","Tocotrienol, gamma",Tryptophan,Tyrosine,Valine,"Vitamin A, RAE","Vitamin B-12, added",Vitamin D (D2 + D3),Vitamin D2 (ergocalciferol),Vitamin D3 (cholecalciferol),Vitamin E (alpha-tocopherol),"Vitamin E, added",Vitamin K (Dihydrophylloquinone),Vitamin K (Menaquinone-4),Water,calcium,calories,carbs,cholesterol,copper,fat,fiber,folate,folic_acid,iron,lactose,manganese,monosaturated_fat,niacin,pantothenic_acid,phosphorus,polysaturated_fat,potassium,protein,riboflavin,saturated_fat,selenium,sodium,sugar,thiamin,trans_fat,vitamin_a,vitamin_b_12,vitamin_b_6,vitamin_c,vitamin_d,vitamin_k,zinc
14708,175304,sr_legacy_food,"Game meat, goat, cooked, roasted",17,"Lamb, Veal, and Game Products",NaN,0.0,1.989,1.46,NaN,NaN,14.0,0.0,NaN,0.0,0.0,106.4,0.0,0.323,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,0.565,NaN,1.371,2.258,0.0,0.0,2.016,NaN,NaN,0.06,NaN,NaN,1.24,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.726,0.13,NaN,NaN,NaN,0.02,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.08,NaN,0.0,NaN,NaN,0.0,0.0,NaN,0.941,NaN,NaN,0.0,0.0,0.0,NaN,0.04,NaN,0.43,NaN,0.43,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.403,0.833,1.452,0.0,0.0,0.0,NaN,0.0,0.34,0.0,0.0,NaN,68.21,17.0,371.0,0.0,75.0,0.303,3.03,0.0,5.0,0.0,3.73,NaN,0.042,1.36,3.95,NaN,201.0,0.23,405.0,27.1,0.61,0.93,11.8,86.0,0.0,0.09,NaN,0.0,1.19,0.0,0.0,0.0,1.2,5.27

In [66]:
adjust_sr_legacy_df = sr_legacy_df.copy()
decimals = 2    
for key, value in nutrient_rename_dict.items():
    try:
        adjust_sr_legacy_df[value] = adjust_sr_legacy_df[value].apply(lambda x: round(x, decimals))
    except Exception as e:
        print(e)
        pass

'sugars_added'
'sugar_alcohol'
'fiber_soluble'
'fiber_soluble'
'iodine'

In [67]:
adjust_sr_legacy_df['serving_size'] = 100.0
adjust_sr_legacy_df['serving_size_unit'] = "g"
adjust_sr_legacy_df.to_sql('legacy_foods_nutrients', engine, method=psql_insert_copy)
set_primiary_key(connection, 'legacy_foods_nutrients', 'fdc_id')

(psycopg2.errors.UniqueViolation) could not create unique index "legacy_foods_nutrients_pkey"
DETAIL:  Key (fdc_id)=(167516) is duplicated.

[SQL: ALTER TABLE legacy_foods_nutrients ADD PRIMARY KEY (fdc_id)]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
('legacy_foods_nutrients', 'Vitamin E, added', 'double precision')
('legacy_foods_nutrients', 'vitamin_d', 'double precision')
('legacy_foods_nutrients', 'vitamin_k', 'double precision')
('legacy_foods_nutrients', 'zinc', 'double precision')
('legacy_foods_nutrients', 'serving_size', 'double precision')
('legacy_foods_nutrients', 'food_category_id', 'bigint')
('legacy_foods_nutrients', 'Alanine', 'double precision')
('legacy_foods_nutrients', 'Alcohol, ethyl', 'double precision')
('legacy_foods_nutrients', 'Arginine', 'double precision')
('legacy_foods_nutrients', 'Ash', 'double precision')
('legacy_foods_nutrients', 'Aspartic acid', 'double precision')
('legacy_foods_nutrients', 'Beta-sitosterol', 'double precision')
('legacy_foods_nutrients', 'Betaine', 'double precision')
('legacy_foods_nutrients', 'Caffeine', 'double precision')
('legacy_foods_nutrients', 'Campesterol', 'double precision')
('legacy_foods_nutrients', 'Carotene, alpha', 'double precision')
('legacy_foods_nutrients', 'Carotene, beta', 'double precision')
('legacy_foods_nutrients', 'Choline, total', 'double precision')
('legacy_foods_nutrients', 'Cryptoxanthin, beta', 'double precision')
('legacy_foods_nutrients', 'Cystine', 'double precision')
('legacy_foods_nutrients', 'Fatty acids, total trans-monoenoic', 'double precision')
('legacy_foods_nutrients', 'Fatty acids, total trans-polyenoic', 'double precision')
('legacy_foods_nutrients', 'Fluoride, F', 'double precision')
('legacy_foods_nutrients', 'Folate, DFE', 'double precision')
('legacy_foods_nutrients', 'Folate, food', 'double precision')
('legacy_foods_nutrients', 'Fructose', 'double precision')
('legacy_foods_nutrients', 'Galactose', 'double precision')
('legacy_foods_nutrients', 'Glucose', 'double precision')
('legacy_foods_nutrients', 'Glutamic acid', 'double precision')
('legacy_foods_nutrients', 'Glycine', 'double precision')
('legacy_foods_nutrients', 'Histidine', 'double precision')
('legacy_foods_nutrients', 'Hydroxyproline', 'double precision')
('legacy_foods_nutrients', 'Isoleucine', 'double precision')
('legacy_foods_nutrients', 'Leucine', 'double precision')
('legacy_foods_nutrients', 'Lutein + zeaxanthin', 'double precision')
('legacy_foods_nutrients', 'Lycopene', 'double precision')
('legacy_foods_nutrients', 'Lysine', 'double precision')
('legacy_foods_nutrients', 'MUFA 14:1', 'double precision')
('legacy_foods_nutrients', 'MUFA 15:1', 'double precision')
('legacy_foods_nutrients', 'MUFA 16:1', 'double precision')
('legacy_foods_nutrients', 'MUFA 16:1 c', 'double precision')
('legacy_foods_nutrients', 'MUFA 17:1', 'double precision')
('legacy_foods_nutrients', 'MUFA 18:1', 'double precision')
('legacy_foods_nutrients', 'MUFA 18:1 c', 'double precision')
('legacy_foods_nutrients', 'MUFA 18:1-11 t (18:1t n-7)', 'double precision')
('legacy_foods_nutrients', 'MUFA 20:1', 'double precision')
('legacy_foods_nutrients', 'MUFA 22:1', 'double precision')
('legacy_foods_nutrients', 'MUFA 22:1 c', 'double precision')
('legacy_foods_nutrients', 'MUFA 24:1 c', 'double precision')
('legacy_foods_nutrients', 'Magnesium', 'double precision')
('legacy_foods_nutrients', 'Maltose', 'double precision')
('legacy_foods_nutrients', 'Methionine', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:2', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:2 CLAs', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:2 i', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:2 n-6 c,c', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:3', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:3 n-3 c,c,c (ALA)', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:3 n-6 c,c,c', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:3i', 'double precision')
('legacy_foods_nutrients', 'PUFA 18:4', 'double precision')
('legacy_foods_nutrients', 'PUFA 20:2 n-6 c,c', 'double precision')
('legacy_foods_nutrients', 'PUFA 20:3', 'double precision')
('legacy_foods_nutrients', 'PUFA 20:3 n-3', 'double precision')
('legacy_foods_nutrients', 'PUFA 20:4', 'double precision')
('legacy_foods_nutrients', 'PUFA 20:4 n-6', 'double precision')
('legacy_foods_nutrients', 'PUFA 20:5 n-3 (EPA)', 'double precision')
('legacy_foods_nutrients', 'PUFA 21:5', 'double precision')
('legacy_foods_nutrients', 'PUFA 22:4', 'double precision')
('legacy_foods_nutrients', 'PUFA 22:5 n-3 (DPA)', 'double precision')
('legacy_foods_nutrients', 'PUFA 22:6 n-3 (DHA)', 'double precision')
('legacy_foods_nutrients', 'PUFA 2:4 n-6', 'double precision')
('legacy_foods_nutrients', 'Phenylalanine', 'double precision')
('legacy_foods_nutrients', 'Phytosterols', 'double precision')
('legacy_foods_nutrients', 'Proline', 'double precision')
('legacy_foods_nutrients', 'Retinol', 'double precision')
('legacy_foods_nutrients', 'SFA 10:0', 'double precision')
('legacy_foods_nutrients', 'SFA 12:0', 'double precision')
('legacy_foods_nutrients', 'SFA 13:0', 'double precision')
('legacy_foods_nutrients', 'SFA 14:0', 'double precision')
('legacy_foods_nutrients', 'SFA 15:0', 'double precision')
('legacy_foods_nutrients', 'SFA 16:0', 'double precision')
('legacy_foods_nutrients', 'SFA 17:0', 'double precision')
('legacy_foods_nutrients', 'SFA 18:0', 'double precision')
('legacy_foods_nutrients', 'SFA 20:0', 'double precision')
('legacy_foods_nutrients', 'SFA 22:0', 'double precision')
('legacy_foods_nutrients', 'SFA 24:0', 'double precision')
('legacy_foods_nutrients', 'SFA 4:0', 'double precision')
('legacy_foods_nutrients', 'SFA 6:0', 'double precision')
('legacy_foods_nutrients', 'SFA 8:0', 'double precision')
('legacy_foods_nutrients', 'Serine', 'double precision')
('legacy_foods_nutrients', 'Starch', 'double precision')
('legacy_foods_nutrients', 'Stigmasterol', 'double precision')
('legacy_foods_nutrients', 'Sucrose', 'double precision')
('legacy_foods_nutrients', 'TFA 16:1 t', 'double precision')
('legacy_foods_nutrients', 'TFA 18:1 t', 'double precision')
('legacy_foods_nutrients', 'TFA 18:2 t not further defined', 'double precision')
('legacy_foods_nutrients', 'TFA 18:2 t,t', 'double precision')
('legacy_foods_nutrients', 'TFA 22:1 t', 'double precision')
('legacy_foods_nutrients', 'Theobromine', 'double precision')
('legacy_foods_nutrients', 'Threonine', 'double precision')
('legacy_foods_nutrients', 'Tocopherol, beta', 'double precision')
('legacy_foods_nutrients', 'Tocopherol, delta', 'double precision')
('legacy_foods_nutrients', 'Tocopherol, gamma', 'double precision')
('legacy_foods_nutrients', 'Tocotrienol, alpha', 'double precision')
('legacy_foods_nutrients', 'Tocotrienol, beta', 'double precision')
('legacy_foods_nutrients', 'Tocotrienol, delta', 'double precision')
('legacy_foods_nutrients', 'Tocotrienol, gamma', 'double precision')
('legacy_foods_nutrients', 'Tryptophan', 'double precision')
('legacy_foods_nutrients', 'Tyrosine', 'double precision')
('legacy_foods_nutrients', 'Valine', 'double precision')
('legacy_foods_nutrients', 'Vitamin A, RAE', 'double precision')
('legacy_foods_nutrients', 'Vitamin B-12, added', 'double precision')
('legacy_foods_nutrients', 'Vitamin D (D2 + D3)', 'double precision')
('legacy_foods_nutrients', 'Vitamin D2 (ergocalciferol)', 'double precision')
('legacy_foods_nutrients', 'Vitamin D3 (cholecalciferol)', 'double precision')
('legacy_foods_nutrients', 'Vitamin E (alpha-tocopherol)', 'double precision')
('legacy_foods_nutrients', 'fdc_id', 'bigint')
('legacy_foods_nutrients', 'Vitamin K (Dihydrophylloquinone)', 'double precision')
('legacy_foods_nutrients', 'Vitamin K (Menaquinone-4)', 'double precision')
('legacy_foods_nutrients', 'Water', 'double precision')
('legacy_foods_nutrients', 'calcium', 'double precision')
('legacy_foods_nutrients', 'calories', 'double precision')
('legacy_foods_nutrients', 'carbs', 'double precision')
('legacy_foods_nutrients', 'cholesterol', 'double precision')
('legacy_foods_nutrients', 'copper', 'double precision')
('legacy_foods_nutrients', 'fat', 'double precision')
('legacy_foods_nutrients', 'fiber', 'double precision')
('legacy_foods_nutrients', 'folate', 'double precision')
('legacy_foods_nutrients', 'folic_acid', 'double precision')
('legacy_foods_nutrients', 'iron', 'double precision')
('legacy_foods_nutrients', 'lactose', 'double precision')
('legacy_foods_nutrients', 'manganese', 'double precision')
('legacy_foods_nutrients', 'monosaturated_fat', 'double precision')
('legacy_foods_nutrients', 'niacin', 'double precision')
('legacy_foods_nutrients', 'pantothenic_acid', 'double precision')
('legacy_foods_nutrients', 'phosphorus', 'double precision')
('legacy_foods_nutrients', 'polysaturated_fat', 'double precision')
('legacy_foods_nutrients', 'potassium', 'double precision')
('legacy_foods_nutrients', 'protein', 'double precision')
('legacy_foods_nutrients', 'riboflavin', 'double precision')
('legacy_foods_nutrients', 'saturated_fat', 'double precision')
('legacy_foods_nutrients', 'selenium', 'double precision')
('legacy_foods_nutrients', 'sodium', 'double precision')
('legacy_foods_nutrients', 'sugar', 'double precision')
('legacy_foods_nutrients', 'thiamin', 'double precision')
('legacy_foods_nutrients', 'trans_fat', 'double precision')
('legacy_foods_nutrients', 'vitamin_a', 'double precision')
('legacy_foods_nutrients', 'vitamin_b_12', 'double precision')
('legacy_foods_nutrients', 'vitamin_b_6', 'double precision')
('legacy_foods_nutrients', 'vitamin_c', 'double precision')
('legacy_foods_nutrients', 'data_type', 'text')
('legacy_foods_nutrients', 'description', 'text')
('legacy_foods_nutrients', 'serving_size_unit', 'text')
('legacy_foods_nutrients', 'category_description', 'text')

# Foundation

In [64]:
def generate_foundation_food_list():
    csv_df = pd.read_csv("./data/usda/csv/foundation/food.csv")
    csv_df['fdc_id'] = csv_df['fdc_id'].fillna(0).astype('int')
    csv_df = csv_df[csv_df['data_type'] == 'foundation_food']
    csv_df = csv_df.merge(food_category_df, left_on = 'food_category_id', right_on = 'id', how='left')
    print(csv_df.shape)
    portion_df = pd.read_csv("./data/usda/csv/foundation/food_portion.csv")
    portion_df['fdc_id'] = portion_df['fdc_id'].fillna(0).astype('int')
    portion_df['measure_unit_id'] = portion_df['measure_unit_id'].fillna(0).astype('int')
    portion_df = portion_df.merge(measure_unit_df, left_on='measure_unit_id', right_on='id')
    print(portion_df.shape)
    print(portion_df.fdc_id.nunique())
    df = csv_df.merge(portion_df, on='fdc_id', how='left')
    print(df.fdc_id.nunique())
    return df

In [65]:
foundation_foods_df = generate_foundation_food_list()
print(foundation_foods_df.shape)
#foundation_foods_df[foundation_foods_df['fdc_id'] == 321358].head()
#foundation_foods_df.sort_values('description')
foundation_foods_df.head(1)

(281, 8)
(10678, 13)
2317
281
(352, 20)

,fdc_id,data_type,description,food_category_id,publication_date,id,code,category_description,id_x,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired,id_y,measure_name
0,321358,foundation_food,"Hummus, commercial",16.0,2019-04-01,16,1600,Legumes and Legume Products,118804.0,1.0,2.0,1001.0,NaN,NaN,33.9,21.0,NaN,2015.0,1001.0,tablespoon

In [66]:
def generate_branded_food_nutrients(supporting_df, nutrient_csv_df):
    df = nutrient_csv_df.merge(supporting_df, how='left', left_on="nutrient_id", right_on='id')
    df.drop(['id_x', 'id_y'], axis=1, inplace=True)
    return df

In [67]:
def generate_foundation_food_nutrients(supporting_df):
    nutrient_csv_df = pd.read_csv("./data/usda/csv/foundation/food_nutrient.csv")
    nutrient_csv_df['fdc_id'] = nutrient_csv_df['fdc_id'].fillna(0).astype('int')
    nutrient_csv_df['nutrient_id'] = nutrient_csv_df['nutrient_id'].fillna(0).astype('int')
    print(nutrient_csv_df.shape)
    df = nutrient_csv_df.merge(supporting_df, left_on="nutrient_id", right_on="id")
    df.drop(['id_x', 'id_y'], axis=1, inplace=True)
    
    return df

In [77]:
foundation_foods_nutrients_df = generate_foundation_food_nutrients(nutrient_key_df)
foundation_foods_nutrients_df.replace({"name": nutrient_rename_dict }, inplace=True)
print(foundation_foods_nutrients_df.shape)
foundation_foods_nutrients_df[foundation_foods_nutrients_df['fdc_id']==321358].head(1).sort_values('name')

/tmp/ipykernel_181/378616045.py:1: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  foundation_foods_nutrients_df = generate_foundation_food_nutrients(nutrient_key_df)

(130334, 11)
(130322, 14)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acqured,name,unit_name,nutrient_nbr,rank
65,321358,1051,58.7,11.0,1.0,56.1,65.6,57.6,NaN,2015.0,Water,G,255,100

In [49]:
#foundation_foods_nutrients_df.groupby('name')['fdc_id'].count().reset_index().sort_values('fdc_id', ascending=False)

# Branded

In [7]:
'''
csv_df = pd.read_csv("./data/usda/csv/branded/food.csv")
csv_df = csv_df[csv_df['data_type'] == 'branded_food']
csv_df["fdc_id"] = csv_df["fdc_id"].fillna(0).astype('int')
print(csv_df.shape)
csv_df.head(1)
'''

'\ncsv_df = pd.read_csv("./data/usda/csv/branded/food.csv")\ncsv_df = csv_df[csv_df[\'data_type\'] == \'branded_food\']\ncsv_df["fdc_id"] = csv_df["fdc_id"].fillna(0).astype(\'int\')\nprint(csv_df.shape)\ncsv_df.head(1)\n'

In [8]:
'''
branded_df = pd.read_csv("./data/usda/csv/branded/branded_food.csv")
branded_df['fdc_id'] = branded_df['fdc_id'].fillna(0).astype('int')
print(branded_df.shape)
branded_df = branded_df.merge(csv_df, on='fdc_id') # this addes in description and pub date if needed
#branded_df.to_sql('branded_foods', engine, method=psql_insert_copy)
#set_primiary_key(connection, 'branded_foods', 'fdc_id')
branded_df[branded_df["fdc_id"] == 1105904]
'''

'\nbranded_df = pd.read_csv("./data/usda/csv/branded/branded_food.csv")\nbranded_df[\'fdc_id\'] = branded_df[\'fdc_id\'].fillna(0).astype(\'int\')\nprint(branded_df.shape)\nbranded_df = branded_df.merge(csv_df, on=\'fdc_id\') # this addes in description and pub date if needed\n#branded_df.to_sql(\'branded_foods\', engine, method=psql_insert_copy)\n#set_primiary_key(connection, \'branded_foods\', \'fdc_id\')\nbranded_df[branded_df["fdc_id"] == 1105904]\n'

In [7]:
'''
nutrient_csv_df = pd.read_csv("./data/usda/csv/branded/food_nutrient.csv")
nutrient_csv_df['fdc_id'] = nutrient_csv_df['fdc_id'].fillna(0).astype('int')
nutrient_csv_df['nutrient_id'] = nutrient_csv_df['nutrient_id'].fillna(0).astype('int')
print(nutrient_csv_df.shape)
nutrient_csv_df.head(1)
'''

'\nnutrient_csv_df = pd.read_csv("./data/usda/csv/branded/food_nutrient.csv")\nnutrient_csv_df[\'fdc_id\'] = nutrient_csv_df[\'fdc_id\'].fillna(0).astype(\'int\')\nnutrient_csv_df[\'nutrient_id\'] = nutrient_csv_df[\'nutrient_id\'].fillna(0).astype(\'int\')\nprint(nutrient_csv_df.shape)\nnutrient_csv_df.head(1)\n'

In [14]:
def generate_branded_food_nutrients(supporting_df, nutrient_csv_df):
    df = nutrient_csv_df.merge(supporting_df, how='left', left_on="nutrient_id", right_on='id')
    df.drop(['id_x', 'id_y'], axis=1, inplace=True)
    return df

In [8]:
'''
branded_foods_nutrient_df =  generate_branded_food_nutrients(nutrient_key_df, nutrient_csv_df)
branded_foods_nutrient_df['id'] = branded_foods_nutrient_df.index + 1 
branded_foods_nutrient_df.to_sql('branded_nutrients', engine, method=psql_insert_copy)
set_primiary_key(connection, 'branded_nutrients', 'id')
print(branded_foods_nutrient_df.shape)
branded_foods_nutrient_df.head(1)
'''

"\nbranded_foods_nutrient_df =  generate_branded_food_nutrients(nutrient_key_df, nutrient_csv_df)\nbranded_foods_nutrient_df['id'] = branded_foods_nutrient_df.index + 1 \nbranded_foods_nutrient_df.to_sql('branded_nutrients', engine, method=psql_insert_copy)\nset_primiary_key(connection, 'branded_nutrients', 'id')\nprint(branded_foods_nutrient_df.shape)\nbranded_foods_nutrient_df.head(1)\n"

In [9]:
#branded_foods_nutrient_df.to_csv('./data/usda/output/branded_nutrients.csv')

In [11]:
# branded_foods_nutrient_df[branded_foods_nutrient_df['fdc_id'] == 1105904] # foods appear to be in 100ml or 100grams total

In [28]:
#branded_df[branded_df['fdc_id'] == 1105904]

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description,data_type,description,food_category_id,publication_date
0,1105904,Richardson Oilseed Products (US) Limited,NaN,NaN,27000612323,Vegetable Oil,NaN,15.0,ml,NaN,Oils Edible,GDSN,NaN,2020-10-02,2020-11-13,United States,NaN,NaN,NaN,NaN,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13

In [14]:
table_name = "branded_nutrients"

# query = f"ALTER TABLE {table_name} ADD birth_date TIMESTAMP;"
query = f"ALTER TABLE {table_name} ALTER COLUMN goal_date TYPE TIMESTAMP with time zone USING to_timestamp(goal_date);"
query = f"SELECT * FROM {table_name}"
query = f"DESCRIBE TABLE {table_name}"
query = f"ALTER TABLE {table_name} DROP COLUMN index"
query = f"select * from {table_name} where fdc_id = '1105904'"
#query = f"ALTER TABLE {table_name} ADD PRIMARY KEY (id)" #https://gist.github.com/scaryguy/6269293
fdc_id = 1105904
#fdc_id = 2106204
fdc_id = 2436182
query = f"select * from (select * from branded_foods where fdc_id = '{fdc_id}') a join (select * from branded_nutrients where fdc_id = '{fdc_id}') b on a.fdc_id = b.fdc_id where a.fdc_id = 1105904"
#query = f"select serving_size_unit, count(fdc_id) as counts from branded_foods group by serving_size_unit"
nutrient_rename_dict = {'Protein': 'protein', 'Carbohydrate, by difference': 'carbs', 'Sodium, Na': 'sodium', 'Total lipid (fat)': 'fat', 'Energy': 'calories',
                        'Sugars, Total': 'sugar', 'Fatty acids, total saturated': 'saturated_fat', 'Fatty acids, total trans': 'trans_fat', 'Cholesterol': 'cholesterol',
                        'Fiber, total dietary': 'fiber', 'Calcium, Ca': 'calcium', 'Iron, Fe': 'iron', 'Vitamin C, total ascorbic acid': 'vitamin_c', 'Vitamin A, IU': 'vitamin_a',
                        'Potassium, K': 'potassium', 'Vitamin D (D2 + D3), International Units': 'vitamin_d', 'Sugars, added': 'sugars_added', 'Fatty acids, total monounsaturated': 'monosaturated_fat',
                        'Fatty acids, total polyunsaturated': 'polysaturated_fat', 'Niacin': 'niacin', 'Thiamin': 'thiamin', 'Riboflavin': 'riboflavin', 'Vitamin B-6': 'vitamin_b_6',
                        'Phosphorus, P': 'phosphorus', 'Magnesium, Mg': 'Magnesium', 'Vitamin B-12': 'vitamin_b_12', 'Zinc, Zn': 'zinc', 'Folate, total': 'folate', 'Folic acid': 'folic_acid',
                        'Pantothenic acid': 'pantothenic_acid', 'Manganese, Mn': 'manganese', 'Copper, Cu': 'copper', 'Total sugar alcohols': 'sugar_alcohol', 'Fiber, soluble': 'fiber_soluble',
                        'Fiber, insoluble': 'fiber_soluble', 'Selenium, Se': 'selenium', 'Vitamin K (phylloquinone)': 'vitamin_k', 'Iodine, I': 'iodine', 'Lactose': 'lactose'}

query = f"select * from branded_nutrients where name in {tuple(nutrient_rename_dict.keys())}"
query = f"select * from branded_foods"
#query = f"select * from branded_foods where fdc_id = '{fdc_id}'"
print(query)
df = pd.read_sql(query, connection)  # sql alchemy

select * from branded_foods

In [11]:
df.replace({"name": nutrient_rename_dict}, inplace=True)

In [ ]:
df['unit_name'].value_counts()

In [14]:
sub_df = df.head(1000)
sub_df.head(1)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,name,unit_name,nutrient_nbr,rank,id
0,1105904,1003,0.0,None,71.0,None,None,None,None,None,protein,G,203,600,1

In [12]:
pivot_df = pd.pivot_table(df, values = 'amount', index=['fdc_id'], columns = 'name').reset_index()
print(pivot_df.shape)
pivot_df.head(2)

(1590701, 39)

name,fdc_id,Magnesium,calcium,calories,carbs,cholesterol,copper,fat,fiber,fiber_soluble,folate,folic_acid,iodine,iron,lactose,manganese,monosaturated_fat,niacin,pantothenic_acid,phosphorus,polysaturated_fat,potassium,protein,riboflavin,saturated_fat,selenium,sodium,sugar,sugar_alcohol,sugars_added,thiamin,trans_fat,vitamin_a,vitamin_b_12,vitamin_b_6,vitamin_c,vitamin_d,vitamin_k,zinc
0,344604,NaN,13.0,24.0,4.07,0.0,NaN,0.41,0.8,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,179.0,0.81,NaN,0.0,NaN,203.0,2.44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,344605,NaN,16.0,24.0,4.07,0.0,NaN,0.41,0.8,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,179.0,0.81,NaN,0.0,NaN,203.0,2.44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [15]:
branded_foods_cols = ['fdc_id', 'brand_owner', 'brand_name', 'subbrand_name', 'ingredients', 'serving_size', 'serving_size_unit',
                     'household_serving_fulltext', 'branded_food_category', 'data_type', 'description', 'short_description']
df[branded_foods_cols].head(5)

,fdc_id,brand_owner,brand_name,subbrand_name,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_type,description,short_description
0,1105904,Richardson Oilseed Products (US) Limited,None,None,Vegetable Oil,15.0,ml,None,Oils Edible,branded_food,WESSON Vegetable Oil 1 GAL,None
1,1105905,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",240.0,ml,None,Herbs/Spices/Extracts,branded_food,SWANSON BROTH BEEF,None
2,1105906,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: CLAM STOCK, POTATOES, CLAMS, CREA...",440.0,g,None,Prepared Soups,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,None
3,1105907,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: WATER, CREAM, BROCCOLI, CELERY, V...",440.0,g,None,Prepared Soups,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,None
4,1105908,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",240.0,ml,None,Herbs/Spices/Extracts,branded_food,SWANSON BROTH CHICKEN,None

In [17]:
branded_df = df[branded_foods_cols].merge(pivot_df, on = 'fdc_id')

,fdc_id,brand_owner,brand_name,subbrand_name,ingredients,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_type,description,short_description,Magnesium,calcium,calories,carbs,cholesterol,copper,fat,fiber,fiber_soluble,folate,folic_acid,iodine,iron,lactose,manganese,monosaturated_fat,niacin,pantothenic_acid,phosphorus,polysaturated_fat,potassium,protein,riboflavin,saturated_fat,selenium,sodium,sugar,sugar_alcohol,sugars_added,thiamin,trans_fat,vitamin_a,vitamin_b_12,vitamin_b_6,vitamin_c,vitamin_d,vitamin_k,zinc
0,1105904,Richardson Oilseed Products (US) Limited,None,None,Vegetable Oil,15.0,ml,None,Oils Edible,branded_food,WESSON Vegetable Oil 1 GAL,None,NaN,0.0,867.0,0.00,0.0,NaN,93.33,0.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,20.0,NaN,NaN,NaN,53.33,0.0,0.00,NaN,13.33,NaN,0.0,0.00,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,1105905,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",240.0,ml,None,Herbs/Spices/Extracts,branded_food,SWANSON BROTH BEEF,None,NaN,0.0,4.0,0.42,0.0,NaN,0.00,0.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.83,NaN,0.00,NaN,346.0,0.42,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,1105906,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: CLAM STOCK, POTATOES, CLAMS, CREA...",440.0,g,None,Prepared Soups,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,None,NaN,16.0,82.0,6.12,6.0,NaN,5.31,0.4,NaN,NaN,NaN,NaN,0.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,2.45,NaN,1.02,NaN,363.0,0.41,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,1105907,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: WATER, CREAM, BROCCOLI, CELERY, V...",440.0,g,None,Prepared Soups,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,None,NaN,33.0,82.0,5.31,10.0,NaN,6.12,0.4,NaN,NaN,NaN,NaN,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,1.22,NaN,2.45,NaN,322.0,0.82,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,1105908,CAMPBELL SOUP COMPANY,None,None,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",240.0,ml,None,Herbs/Spices/Extracts,branded_food,SWANSON BROTH CHICKEN,None,NaN,4.0,4.0,0.42,0.0,NaN,0.00,0.0,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,0.83,NaN,0.00,NaN,15.0,0.42,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590696,2340755,"Orgain, Inc.",ORGAIN,ORGANIC NUTRITION,"FILTERED WATER, ORGAIN ORGANIC PROTEIN BLEND (...",330.0,ml,1 CARTON,Chocolate,branded_food,"VANILLA BEAN VEGAN ALL-IN-ONE PROTEIN SHAKE, V...",None,24.0,30.0,67.0,7.58,0.0,0.152,1.82,0.6,NaN,30.0,NaN,11.0,0.55,NaN,NaN,NaN,1.212,0.758,91.0,NaN,21.0,4.85,0.103,0.30,NaN,48.0,2.73,NaN,NaN,0.0,0.0,379.0,0.45,0.091,4.5,30.0,NaN,0.91
1590697,2340756,"Orgain, Inc.",ORGAIN,ORGANIC NUTRITION,"FILTERED WATER, ORGAIN ORGANIC PROTEIN BLEND (...",330.0,ml,1 CARTON,Chocolate,branded_food,SMOOTH CHOCOLATE VEGAN ALL-IN-ONE PROTEIN SHAK...,None,24.0,30.0,67.0,7.58,0.0,0.152,1.82,0.6,NaN,30.0,NaN,11.0,0.55,NaN,NaN,NaN,1.212,0.758,91.0,NaN,52.0,4.85,0.103,0.30,NaN,58.0,2.73,NaN,NaN,0.0,0.0,379.0,0.45,0.091,4.5,30.0,NaN,0.91
1590698,2340757,"Orgain, Inc.",ORGAIN,ORGANIC NUTRITION,"FILTERED WATER, ORGAIN ORGANIC PROTEIN BLEND (...",330.0,ml,1 CARTON,Chocolate,branded_food,SMOOTH CHOCOLATE VEGAN ALL-IN-ONE PROTEIN SHAK...,None,24.0,30.0,67.0,7.58,0.0,0.152,1.82,0.6,NaN,30.0,NaN,11.0,0.55,NaN,NaN,NaN,1.212,0.758,91.0,NaN,52.0,4.85,0.103,0.30,NaN,58.0,2.73,NaN,NaN,0.0,0.0,379.0,0.45,0.091,4.5,30.0,NaN,0.91
1590699,2340758,"Orgain, Inc.",ORGAIN,ORGANIC NUTRITION,"FILTERED WATER, ORGAIN ORGANIC PROTEIN BLEND (...",330.0,ml,1 CARTON,Chocolate,branded_food,"VANILLA BEAN VEGAN ALL-IN-ONE PROTEIN SHAKE, V...",None,24.0,30.0,67.0,7.58,0.0,0.152,1.82,0.6,NaN,30.0,NaN,11.0,0.55,NaN,NaN,NaN,1.212,0.758,91.0,NaN,21.0,4.85,0.103,0.30,NaN,48.0,2.73,NaN,NaN,0.0,0.0,379.0,0.45,0.091,4.5,30.0,NaN,0.91
1590700,2340759,"Kitu Life, Inc.",SUPER COFFEE,KETO,"COLOMBIAN COFFEE, MILK PROTEIN ISOLATE, COCOA ...",360.0,ml,1 bottle,Other Drinks,branded_food,"MOCHA FLAVORED SWEETENED WITH MONK FRUIT, MOCHA",None,NaN,0.0,22.0,1.11,1.0,NaN,0.83,NaN,NaN,NaN,NaN,NaN,0.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141.0,2.78,NaN,0.83,NaN,3.0,0.28,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [34]:
def adjust_macro_based_on_serving(row, macro):
    try:
        adjust_macro = float(row['serving_size'])/100 * float(row[macro])
        return adjust_macro
    except Exception as e:
        print(e)
        return 0

In [35]:
adjust_branded_df = branded_df.copy()
for key, value in nutrient_rename_dict.items():
    adjust_branded_df[value] = adjust_branded_df.apply(adjust_macro_based_on_serving, macro=value, axis=1)

In [38]:
decimals = 2    
for key, value in nutrient_rename_dict.items():
    adjust_branded_df[value] = adjust_branded_df[value].apply(lambda x: round(x, decimals))

In [39]:
adjust_branded_df.to_sql('branded_foods_nutrients', engine, method=psql_insert_copy)
set_primiary_key(connection, 'branded_foods_nutrients', 'fdc_id')

('branded_foods_nutrients', 'zinc', 'double precision')
('branded_foods_nutrients', 'sugars_added', 'double precision')
('branded_foods_nutrients', 'thiamin', 'double precision')
('branded_foods_nutrients', 'trans_fat', 'double precision')
('branded_foods_nutrients', 'vitamin_a', 'double precision')
('branded_foods_nutrients', 'vitamin_b_12', 'double precision')
('branded_foods_nutrients', 'vitamin_b_6', 'double precision')
('branded_foods_nutrients', 'vitamin_c', 'double precision')
('branded_foods_nutrients', 'vitamin_d', 'double precision')
('branded_foods_nutrients', 'vitamin_k', 'double precision')
('branded_foods_nutrients', 'fdc_id', 'bigint')
('branded_foods_nutrients', 'serving_size', 'double precision')
('branded_foods_nutrients', 'Magnesium', 'double precision')
('branded_foods_nutrients', 'calcium', 'double precision')
('branded_foods_nutrients', 'calories', 'double precision')
('branded_foods_nutrients', 'carbs', 'double precision')
('branded_foods_nutrients', 'cholesterol', 'double precision')
('branded_foods_nutrients', 'copper', 'double precision')
('branded_foods_nutrients', 'fat', 'double precision')
('branded_foods_nutrients', 'fiber', 'double precision')
('branded_foods_nutrients', 'fiber_soluble', 'double precision')
('branded_foods_nutrients', 'folate', 'double precision')
('branded_foods_nutrients', 'folic_acid', 'double precision')
('branded_foods_nutrients', 'iodine', 'double precision')
('branded_foods_nutrients', 'iron', 'double precision')
('branded_foods_nutrients', 'lactose', 'double precision')
('branded_foods_nutrients', 'manganese', 'double precision')
('branded_foods_nutrients', 'monosaturated_fat', 'double precision')
('branded_foods_nutrients', 'niacin', 'double precision')
('branded_foods_nutrients', 'pantothenic_acid', 'double precision')
('branded_foods_nutrients', 'phosphorus', 'double precision')
('branded_foods_nutrients', 'polysaturated_fat', 'double precision')
('branded_foods_nutrients', 'potassium', 'double precision')
('branded_foods_nutrients', 'protein', 'double precision')
('branded_foods_nutrients', 'riboflavin', 'double precision')
('branded_foods_nutrients', 'saturated_fat', 'double precision')
('branded_foods_nutrients', 'selenium', 'double precision')
('branded_foods_nutrients', 'sodium', 'double precision')
('branded_foods_nutrients', 'sugar', 'double precision')
('branded_foods_nutrients', 'sugar_alcohol', 'double precision')
('branded_foods_nutrients', 'brand_owner', 'text')
('branded_foods_nutrients', 'brand_name', 'text')
('branded_foods_nutrients', 'subbrand_name', 'text')
('branded_foods_nutrients', 'ingredients', 'text')
('branded_foods_nutrients', 'short_description', 'text')
('branded_foods_nutrients', 'serving_size_unit', 'text')
('branded_foods_nutrients', 'household_serving_fulltext', 'text')
('branded_foods_nutrients', 'branded_food_category', 'text')
('branded_foods_nutrients', 'data_type', 'text')
('branded_foods_nutrients', 'description', 'text')

Exception during reset or similar
Traceback (most recent call last):
  File "/opt/conda/lib/python3.10/site-packages/sqlalchemy/pool/base.py", line 757, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "/opt/conda/lib/python3.10/site-packages/sqlalchemy/pool/base.py", line 1016, in _reset
    pool._dialect.do_rollback(self)
  File "/opt/conda/lib/python3.10/site-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.