In [4]:
import os
import requests
import numpy as np
import pandas as pd
import json
import csv
import psycopg2 
from io import StringIO
from datetime import datetime, timedelta
import requests

from sqlalchemy import create_engine, text
import pandera as pa
from pandera.errors import SchemaError
pd.set_option('display.max_rows', 500)
pd.options.display.max_columns = None

import write_to_db
import importlib
importlib.reload(write_to_db)

In [5]:
def convert_date_iso(dt):
   return dt.strftime('%Y-%m-%dT%H:%M:%S.%f%z')

In [6]:
print(os.getenv("DATABASE_URI"))
DATABASE_URI = os.getenv("DATABASE_URI")

postgresql://postgres:postgres@bbdt_db/postgres

In [7]:
engine = create_engine(DATABASE_URI)
connection = engine.connect()

## Email Attachements

In [15]:
datetime_now = datetime.now()
email_dict = {"username": "joshjanzen@gmail.com", "create_datetime": datetime_now,
                      "topic_name": "General Inquiry", "message_title": "Describe Your Experieince",
                      "message": "i need help", "sub_topic": "Other",
                      "accept_attachment": True, "generated_filename": "123.jpeg"} 
email_df = pd.DataFrame(email_dict, index=[0])
email_df.head()

,username,create_datetime,topic_name,message_title,message,sub_topic,accept_attachment,generated_filename
0,joshjanzen@gmail.com,2023-04-22 03:00:44.215140,General Inquiry,Describe Your Experieince,i need help,Other,True,123.jpeg

In [18]:
new_table_name = 'contact_email'
#email_df.to_sql(new_table_name, engine, method=write_to_db.psql_insert_copy, if_exists='append', index=True)

In [14]:
import time

int(time.time())

1682132319

# Custom Food by User

In [10]:
datetime_now = datetime.now()
custom_food_dict = {"username": "joshjanzen@gmail.com", "create_datetime": datetime_now,
                      "update_datetime": datetime_now, "description": "avacodo sandwhich",
                      "custom_food_id": "cf1", "serving_size": 100, "serving_size_unit": "g",
                      "calories": 200, "carbs": 60, "protein": 10, "fat": 22, "monosaturated_fat": 5,
                      "polysaturated_fat": 8, "saturated_fat": 2, "cholesterol": 22, "calcium": 5,
                      "fiber": 2, "iron": 5, "sodium": 22} 
custom_food_df = pd.DataFrame(custom_food_dict, index=[0])
custom_food_df.head()

,username,create_datetime,update_datetime,description,custom_food_id,serving_size,serving_size_unit,calories,carbs,protein,fat,monosaturated_fat,polysaturated_fat,saturated_fat,cholesterol,calcium,fiber,iron,sodium
0,joshjanzen@gmail.com,2023-04-01 01:35:21.170694,2023-04-01 01:35:21.170694,avacodo sandwhich,cf1,100,g,200,60,10,22,5,8,2,22,5,2,5,22

In [11]:
new_table_name = 'foods_custom'
#custom_food_df.to_sql(new_table_name, engine, method=write_to_db.psql_insert_copy, if_exists='append', index=True)

# Helper SQL Tables

In [189]:
def create_helper_tables(table_dict, new_table_name):
    df = pd.DataFrame(table_dict)
    df.to_sql(new_table_name, engine, method=write_to_db.psql_insert_copy, if_exists='replace', index=True)
    #set_primiary_key(connection, new_table_name, 'id')
    #set_primiary_key(connection, new_table_name, create_index=True, primary_key_col=None, drop_col='index')
    

meal_key_dict = {"meal_id": [1,2,3,4,5,6],
                 "meal_name": ["Breakfast", "Snack-early", "Lunch", "Post-workout", "Snack-late", "Dinner"],
                 "image_name": ["breakfast.png","snack-early.png","lunch.png","post-workout.png","snack-late.png","dinner.png"],
                 "icon_url": ["http://34.70.25.107:8001/v1/foods/image/diet/meal_image/breakfast.png",
                              "http://34.70.25.107:8001/v1/foods/image/diet/meal_image/snack-early.png",
                             "http://34.70.25.107:8001/v1/foods/image/diet/meal_image/lunch.png",
                             "http://34.70.25.107:8001/v1/foods/image/diet/meal_image/post-workout.png",
                             "http://34.70.25.107:8001/v1/foods/image/diet/meal_image/snack-late.png",
                             "http://34.70.25.107:8001/v1/foods/image/diet/meal_image/dinner.png"],
                "meal_icon_url": ["http://34.70.25.107:8001/v1/foods/images/meal_id/1",
                                  "http://34.70.25.107:8001/v1/foods/images/meal_id/2",
                                  "http://34.70.25.107:8001/v1/foods/images/meal_id/3",
                                  "http://34.70.25.107:8001/v1/foods/images/meal_id/4",
                                  "http://34.70.25.107:8001/v1/foods/images/meal_id/5",
                                  "http://34.70.25.107:8001/v1/foods/images/meal_id/6"]}
#create_helper_tables(meal_key_dict, "dim_meal_key")

#activity_key_dict = {"activity_level_id": [1,2,3,4], "activity_level_name": ["Not Very Active", "Lightly Active", "Active", "Very Active"]}
#create_helper_tables(activity_key_dict, "dim_activity_level_key")

'''
day_week_key_dict = {"weekday_id": [0,1,2,3,4,5,6], "weekday": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturaday", "Sunday"],
                    "carb_default":["low", "low", "medium", "medium", "medium", "high", "high"]}

high_nutrient_mix = {'carb_perc': 0.50, 'protein_perc': 0.25, 'fat_perc': 0.15}
print(macro_detail(lbm, cals, high_nutrient_mix, weeks_out, goal_id))
med_nutrient_mix = {'carb_perc': 0.35, 'protein_perc': 0.30, 'fat_perc': 0.25}
print(macro_detail(lbm, cals, med_nutrient_mix, weeks_out, goal_id))
low_nutrient_mix = {'carb_perc': 0.10, 'protein_perc': 0.35, 'fat_perc': 0.40}
'''

#goal_key_dict = {"goal_id": [1,2,3], "goal_name": ["Physique competition", "Cut weight for event", "Improve body composition"]}
#create_helper_tables(activity_key_dict, "dim_goal_key")

#premium_skus_dict = {"premium_sku_id": [101,102], "premium_sku_short_desc": ["Macro Recommender", "Individualized Coaching"], "premium_sku_long_desc":
#                                                                            ["Auto-adjust macro intake recommendation for each day", "Direct contact with expert Bodybuilding Diet coach"]}
#create_helper_tables(premium_skus_dict, "dim_premium_skus")

'\nday_week_key_dict = {"weekday_id": [0,1,2,3,4,5,6], "weekday": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturaday", "Sunday"],\n                    "carb_default":["low", "low", "medium", "medium", "medium", "high", "high"]}\n\nhigh_nutrient_mix = {\'carb_perc\': 0.50, \'protein_perc\': 0.25, \'fat_perc\': 0.15}\nprint(macro_detail(lbm, cals, high_nutrient_mix, weeks_out, goal_id))\nmed_nutrient_mix = {\'carb_perc\': 0.35, \'protein_perc\': 0.30, \'fat_perc\': 0.25}\nprint(macro_detail(lbm, cals, med_nutrient_mix, weeks_out, goal_id))\nlow_nutrient_mix = {\'carb_perc\': 0.10, \'protein_perc\': 0.35, \'fat_perc\': 0.40}\n'

# Diet Tracking

In [83]:
datetime_now = datetime.now()
diet_tracking_dict = {"username": "n@t.com", "datetime_diet_day": datetime_now,
                      "update_datetime": datetime_now, "meal_id": 2, "fdc_id": 1105904, "servings": 2.1} 
diet_tracking_df = pd.DataFrame(diet_tracking_dict, index=[0])
diet_tracking_df.head()

,username,datetime_diet_day,update_datetime,meal_id,fdc_id,servings
0,n@t.com,2023-02-18 17:36:59.522375,2023-02-18 17:36:59.522375,2,1105904,2.1

In [12]:

new_table_name = 'diet_tracking'
diet_tracking_df.to_sql(new_table_name, engine, method=write_to_db.psql_insert_copy, if_exists='replace', index=True)
#set_primiary_key(connection, new_table_name, 'id')
#set_primiary_key(connection, new_table_name, create_index=True, primary_key_col=None, drop_col='index')

In [110]:
# get tracked diet
url = "https://bodybuildingdiet.app"
port = "8001"
version = "v1"
api_path = "diet_tracking/get_tracked_meal/"
username = "n@t.com"
url_full = f"{url}:{port}/{version}/{api_path}"

payload = {'username': 'n@t.com',
           "datetime_diet_day": "2023-02-18T01:45:29.374Z",
            'meal_id': 2}

print(url_full)
#http://52.173.91.81:8001/api/v1/users/n%40t.com/' 
headers = {'Content-type': 'application/json', 'Accept': 'application/json', "Authorization": token}
response = requests.post(url_full, data=json.dumps(payload), headers=headers)
print(response.status_code, response.json())

https://bodybuildingdiet.app:8001/v1/diet_tracking/get_tracked_meal/
200 [{'username': 'n@t.com', 'datetime_diet_day': '2023-02-18T02:45:30.880725', 'update_datetime': 1676688330880, 'meal_id': 2, 'fdc_id': 1105904, 'servings': 2.1, 'id': 1}]

In [115]:
url = "https://bodybuildingdiet.app"
port = "8001"
version = "v1"
api_path = "diet_tracking/"
url_full = f"{url}:{port}/{version}/{api_path}"
print(url_full)


payload = {
  "username": "n@t.com",
  "datetime_diet_day": "2023-01-30T01:45:29.374Z",
  "meal_id": 4,
  "fdc_id": 123456,
  "servings": 2.3
}

headers = {'Content-type': 'application/json', 'Accept': 'application/json', "Authorization": token}
#r = requests.post(url, data=json.dumps(data), headers=headers)

response = requests.post(url_full, data=json.dumps(payload), headers=headers)
print(response.status_code, response.json())

https://bodybuildingdiet.app:8001/v1/diet_tracking/
200 [{'username': 'n@t.com', 'datetime_diet_day': '2023-01-30T01:45:29.374000', 'update_datetime': '2023-02-19T00:13:10.582943', 'meal_id': 4, 'fdc_id': 123456, 'servings': 2.3, 'id': 4}]

# Users

In [27]:
datetime_now = datetime.now()
birthday_str = '1990-12-31T00:00:00'
birthday = datetime.strptime(birthday_str,'%Y-%m-%dT%H:%M:%S')
goal_str = '2023-12-31T00:00:00'
goal_date = datetime.strptime(goal_str,'%Y-%m-%dT%H:%M:%S')

user_dict = {"username": "j@t.com", "create_datetime": datetime_now, "update_datetime": datetime_now, "metric": False,
             "height": 71, "weight": 208, "gender": 1, "birth_date_datetime": birthday, "bodyfat_calc": 0.18, "bodyfat_override_bool": False,
             "bodyfat_override": 0.16, "bodyfat": 0.18, "lean_body_mass_calc": 175, "lean_body_mass_calc_category_id": 5, "activity_level_id": 1,
             "baseline_calorie_calc": 2300, "baseline_calorie_override_bool": True, "baseline_calorie_override": 2900, "baseline_calorie":2300, "goal_id": 2,
             "goal_date_datetime": goal_date}

user_df = pd.DataFrame(user_dict, index=[0])

In [28]:
# append to table
#new_table_name = 'users'
#user_df.to_sql(new_table_name, engine, if_exists='append',index=False)

1

In [21]:
#new_table_name = 'users'
#user_df.to_sql(new_table_name, engine, method=write_to_db.psql_insert_copy, if_exists='replace', index=True)

In [51]:
def lbm_calc(weight, bodyfat_perc):
    return (1 - bodyfat_perc) * weight
lbm_calc(178, .15)

151.29999999999998

## hit the API

In [60]:
url = "http://34.70.25.107"
#url = "http://52.173.91.81"
port = "8001"
url_path = "hello_world"
url_full = f"{url}:{port}/{url_path}"
print(url_full)
response = requests.get(url_full, headers=headers)
print(response.status_code, response.json())

http://34.70.25.107:8001/hello_world
200 hello from BBDT backend

### Get User

In [73]:
url = "https://bodybuildingdiet.app"
url = "http://34.70.25.107"
port = "8001"
version = "v1"
api_path = "users"
username = "z@tt.com"
url_full = f"{url}:{port}/{version}/{api_path}/{username}"
print(url_full)
#http://52.173.91.81:8001/api/v1/users/n%40t.com/' 
# https://bodybuildingdiet.app:8001/v1/users/n%40t.com/
response = requests.get(url_full, headers=headers)
print(response.status_code, response.json())

http://34.70.25.107:8001/v1/users/z@tt.com
200 [{'username': 'z@tt.com', 'create_datetime': '2023-02-18T16:18:37.223497', 'update_datetime': '2023-02-18T16:18:37.223497', 'metric': False, 'height': 71, 'weight': 179, 'gender': 1, 'birth_date_datetime': '2003-01-26T22:16:21.423000', 'bodyfat_calc': 20.8018904979, 'bodyfat_override_bool': False, 'bodyfat_override': 10.0, 'bodyfat': 20.8018904979, 'lean_body_mass_calc': 142, 'lean_body_mass_calc_category_id': 150, 'activity_level_id': 3, 'baseline_calorie_calc': 2304, 'baseline_calorie_override_bool': False, 'baseline_calorie_override': 2500, 'baseline_calorie': 2304, 'goal_id': 0, 'goal_date_datetime': '2023-03-26T22:16:21.423000', 'id': 4}]

In [12]:
str(datetime_now)

'2023-01-27 12:48:36.912143'

In [49]:
datetime_now = datetime.now()
datetime_str = datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
datetime_str

'2023-01-27 17:52:49.952392'

### Add User

In [82]:
url = "https://bodybuildingdiet.app"
port = "8001"
version = "v1"
api_path = "users"
url_full = f"{url}:{port}/{version}/{api_path}"
print(url_full)
#datetime_now = datetime.now()
#datetime_str = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
payload = {
  "username": "j@t.com",
  "metric": False,
  "height": 71,
  "weight": 179,
  "gender": 1,
  "birth_date_datetime": "2003-01-26T22:16:21.423Z",
  "bodyfat_override_bool": False,
  "bodyfat_override": 10,
  "activity_level_id": 3,
  "baseline_calorie_override_bool": True,
  "baseline_calorie_override": 3500,
  "goal_id": 0,
  "goal_date_datetime": "2023-03-26T22:16:21.423Z"
}

headers = {'Content-type': 'application/json', 'Accept': 'application/json', "Authorization": token}
#r = requests.post(url, data=json.dumps(data), headers=headers)

response = requests.post(url_full, data=json.dumps(payload), headers=headers)
print(response.status_code, response.json())

https://bodybuildingdiet.app:8001/v1/users
200 [{'username': 'j@t.com', 'create_datetime': '2023-02-18T15:35:30.662070', 'update_datetime': '2023-02-18T17:33:38.691420', 'metric': False, 'height': 71, 'weight': 179, 'gender': 1, 'birth_date_datetime': '2003-01-26T22:16:21.423000', 'bodyfat_calc': 20.8018904979, 'bodyfat_override_bool': False, 'bodyfat_override': 10.0, 'bodyfat': 20.8018904979, 'lean_body_mass_calc': 142, 'lean_body_mass_calc_category_id': 150, 'activity_level_id': 3, 'baseline_calorie_calc': 2304, 'baseline_calorie_override_bool': True, 'baseline_calorie_override': 3500, 'baseline_calorie': 3500, 'goal_id': 0, 'goal_date_datetime': '2023-03-26T22:16:21.423000', 'id': 9}]

## Pandera

In [24]:
df = pd.DataFrame({
"product_id": [114, 256, 385, 407,150,285,364,319],
"brand": ["Nike", "Puma", "Adidas", "Converse","Nike","Converse","Nike","Adidas"],
"date_of_release": pd.to_datetime(["1982", "2021", "2017-08-17", "2020","2020-06-09","2015-07-28","2022-03-03","2022-03-05"]),
"product_name": ["Airforce 1 Low", "Ralph Sampson 70", "Yeezy 700 ", "Chuck 70","Nike ISPA Flow","Chuck Talyor all star","Supreme x Nike SB Dunk High","adidas Yeezy Boost 700 V2 "],
"price":[10000,8387.17,18299.28,9149.64,"d",4574.82,38123.50,22874.10]
})
df

   product_id     brand date_of_release                 product_name     price
0         114      Nike      1982-01-01               Airforce 1 Low     10000
1         256      Puma      2021-01-01             Ralph Sampson 70   8387.17
2         385    Adidas      2017-08-17                   Yeezy 700   18299.28
3         407  Converse      2020-01-01                     Chuck 70   9149.64
4         150      Nike      2020-06-09               Nike ISPA Flow         d
5         285  Converse      2015-07-28        Chuck Talyor all star   4574.82
6         364      Nike      2022-03-03  Supreme x Nike SB Dunk High   38123.5
7         319    Adidas      2022-03-05   adidas Yeezy Boost 700 V2    22874.1

In [27]:
brand_name = ["Nike", "Converse"]
 
schema = pa.DataFrameSchema(
    {
        "brand": pa.Column(str, checks=pa.Check.isin(brand_name),nullable=False, coerce=True),
        "price": pa.Column(int, nullable=True, checks=[pa.Check.greater_than(10000.00)]),
    }
)
try:
    valid_df = schema.validate(df, lazy=True)
except pa.errors.SchemaErrors as e:
    
    print(e)
    #print("Failed check:", e.check)
    print("\n dataframe:\n")
    display(e.data)
    print("\nFailure cases:\n")
    display(e.failure_cases)
    filtered_df = df[~df.index.isin(e.failure_cases["index"])]
filtered_df

Schema None: A total of 3 schema errors were found.

Error Counts
------------
- schema_component_check: 3

Schema Error Summary
--------------------
                                                                                                            failure_cases  n_failure_cases
schema_context column check
Column         brand  isin({'Nike', 'Converse'})                                                           [Puma, Adidas]                2
               price  dtype('int64')                                                                             [object]                1
                      greater_than(10000.0)       [TypeError("'>' not supported between instances of 'str' and 'float'")]                1

Usage Tip
---------

Directly inspect all errors by catching the exception:

```
try:
    schema.validate(dataframe, lazy=True)
except SchemaErrors as err:
    err.failure_cases  # dataframe of schema errors
    err.data  # invalid dataframe
```


 dataframe:

   product_id     brand date_of_release                 product_name     price
0         114      Nike      1982-01-01               Airforce 1 Low     10000
1         256      Puma      2021-01-01             Ralph Sampson 70   8387.17
2         385    Adidas      2017-08-17                   Yeezy 700   18299.28
3         407  Converse      2020-01-01                     Chuck 70   9149.64
4         150      Nike      2020-06-09               Nike ISPA Flow         d
5         285  Converse      2015-07-28        Chuck Talyor all star   4574.82
6         364      Nike      2022-03-03  Supreme x Nike SB Dunk High   38123.5
7         319    Adidas      2022-03-05   adidas Yeezy Boost 700 V2    22874.1

Failure cases:

,schema_context,column,check,check_number,failure_case,index
0,Column,brand,"isin({'Nike', 'Converse'})",0,Puma,1
1,Column,brand,"isin({'Nike', 'Converse'})",0,Adidas,2
2,Column,brand,"isin({'Nike', 'Converse'})",0,Adidas,7
3,Column,price,dtype('int64'),None,object,None
4,Column,price,greater_than(10000.0),0,"TypeError(""'>' not supported between instances...",None

   product_id     brand date_of_release                 product_name    price
0         114      Nike      1982-01-01               Airforce 1 Low    10000
3         407  Converse      2020-01-01                     Chuck 70  9149.64
4         150      Nike      2020-06-09               Nike ISPA Flow        d
5         285  Converse      2015-07-28        Chuck Talyor all star  4574.82
6         364      Nike      2022-03-03  Supreme x Nike SB Dunk High  38123.5